@import '../../../styles/variables.module';
.newsLettersBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 42.8rem;
  padding-top: 10rem;
  padding-left:4rem;
  padding-right:4rem;
  background-image: url("../../../../public/img/images/NewsLetter/newsletterBlock.png");
  align-items: center;
  gap: 2.4rem;
}
.title {
  @include fonts($headline-2)
}
.content {
  width: 51.8rem;
  @include fonts($headline-10)
}
.input {
  display: flex;
  width: 63rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
}
.button {
  @include button(63rem, $black, $white, $accent-a-3, $accent-a-5);
}
