.newsLetterBlock__messageLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #5a9b83;
  color: #fafafa;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  text-transform: uppercase;
}
.newsLetterBlock__messageLine .newsLetterBlock__closeButton {
  background-color: transparent;
  position: relative;
  left: 5rem;
}
.newsLetterBlock__messageLine .newsLetterBlock__closeButton svg path {
  stroke: #fafafa;
}

.newsLettersBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 44.3rem;
  padding: 0 4rem;
  background-image: url("../../../../public/img/images/NewsLetter/newsletterBlock.webp");
}

.newsLettersBlock_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 2.4rem;
}

.newsLetterBlock__title2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
}

.content {
  max-width: 51.8rem;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  text-transform: uppercase;
}

.newsLetterBlock__inputSection {
  display: flex;
  max-width: 63rem;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
}

.newsLetterBlock__button {
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  width: 63rem;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  background: #000000;
  width: 100%;
}
.newsLetterBlock__button span {
  font-weight: 600;
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.newsLetterBlock__button::before {
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 0.4rem;
  left: 29.1rem;
}
.newsLetterBlock__button::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 2.5rem;
  left: 31.2rem;
}
.newsLetterBlock__button:hover::before {
  content: "";
  width: 69.3rem;
  height: 69.3rem;
  opacity: 1;
  position: absolute;
  top: -32.25rem;
  left: -1rem;
}
.newsLetterBlock__button:active::after {
  content: "";
  width: 69.3rem;
  height: 69.3rem;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: -32.25rem;
  left: -1.1rem;
}
.newsLetterBlock__button:focus {
  border: 3px solid #5a9b83;
}
.newsLetterBlock__button:disabled {
  border-color: #868686;
  background: #c3c3c3;
  pointer-events: none;
  cursor: not-allowed;
}
.newsLetterBlock__button:disabled span {
  color: #9b9b9b;
}
.newsLetterBlock__button span {
  font-weight: 600;
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  color: #fafafa;
}
.newsLetterBlock__button::before {
  background: #5a9b83;
}
.newsLetterBlock__button::after {
  background: #1a6449;
}
.newsLetterBlock__button:hover::before {
  background: #5a9b83;
}
.newsLetterBlock__button:active::after {
  border: 1px solid #5a9b83;
}

.newsLetterBlock__messageError {
  background-color: #ea001b;
}

@media (min-width: 581px) and (max-width: 768px) {
  .newsLettersBlock {
    width: 100%;
    height: 32.6rem;
    padding: 3.6rem 3.2rem;
    background-image: url("../../../../public/img/images/NewsLetter/tabletNewsletterBlock.webp");
  }
  .newsLettersBlock_form {
    max-width: 46.5rem;
    height: 24.4rem;
    padding: 0;
  }
}
@media (max-width: 580px) {
  .newsLettersBlock {
    padding: 1.6rem;
  }
  .newsLetterBlock__title2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    font-weight: 500;
  }
  .newsLetterBlock__button {
    height: 4.8rem;
    padding: 1.2rem;
  }
  .newsLetterBlock__button span {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
  }
}

/*# sourceMappingURL=NewsLettersBlock.module.css.map */
