@import '../../../styles/variables.module';
.categoriesBlock {
  padding: 0 8rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
}
.categoriesBlock__title2 {
  @include headline-2();
}
.categoriesBlock__box {
  width: 100%;
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.4rem;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .categoriesBlock {
    padding: 0 3.2rem;
    justify-content: center;
  }
  .categoriesBlock__box {
    gap: 1.6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}
@media (max-width: 767px) {
  .categoriesBlock {
    padding: 0 1.6rem;
    gap: 2.4rem;
  }
  .categoriesBlock__title2 {
    @include tablet-headline-2();
    font-weight: 500;
  }
  .categoriesBlock__box {
    gap: 1.6rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
