@import '../../../styles/variables.module';
.categoriesBlock {
  padding: 0 8rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
}
.categoriesBlock__title2 {
  @include fonts($headline-2);
}
.categoriesBlock__box {
  width: 100%;
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.4rem;
  margin: 0 auto;
}
@media (min-width: 581px) and (max-width: 1000px) {
  .categoriesBlock {
    padding: 0 3.2rem;
  }
  .categoriesBlock__box {
    gap: 1.6rem;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 580px) {
  .categoriesBlock {
    padding: 0 1.6rem;
    gap: 2.4rem;
  }
  .categoriesBlock__title2 {
    @include fonts($tablet-headline-2);
    font-weight: 500;
  }
  .categoriesBlock__box {
    gap: 1.6rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
