@import '../../styles/variables.module.scss';

.dropdown {
  text-align: start;
}

.dropdownRightBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include fonts($headline-9);
  text-transform: uppercase;
  background-color: inherit;
}

.dropdownLeftBtn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  @include fonts($headline-8);
  text-transform: uppercase;
  background-color: inherit;
}

.description {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  margin-top: 0.8rem;
}

.icon {
  font-size: 2.4rem;
}
