@import "../../../../styles/variables.module";
.resetPasswordForm {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  margin: 9.5rem auto;

}
.titleBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.6rem;
  text-align: center;
  .title{
  @include fonts($headline-2)
}
  p {
    @include fonts($menu-2);
  }
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}
.newCollectionBlock__button {
  @include button(41rem);
  @include buttonBlack();
}
.successMessagesBlock {
  @include fonts($body-3);
  display: flex;
  align-items: center;
  align-self: stretch;
  background: $accent-a-05;
  p {
    text-align: start;
    padding: 1.2rem;
    color: $success;
  }
}
.errorMessagesBlock {
  @include fonts($body-3);
  display: flex;
  align-items: center;
  align-self: stretch;
  background: $light-pink;
  p {
    text-align: start;
    padding: 1.2rem;
    color: $error;
  }
}
