@import "../../../../styles/variables.module";
.resetPasswordForm {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  margin: 9.5rem auto;

  .resetPasswordForm__titleBlock {
    @include form-title-block();
  }

  .resetPasswordForm__errorMessagesBlock {
    @include form-message-block($light-pink, $error);
  }

  .resetPasswordForm__successMessagesBlock {
    @include form-message-block($accent-a-05, $success);
  }

  .resetPasswordForm__form {
    width: 100%;
    @include form();

    .resetPasswordForm__button {
      @include button(41rem);
      @include buttonBlack();
    }
  }
}

@media (min-width: 769px) and (max-width: 1120px) {
  .resetPasswordForm {
    width: 41rem;
    margin: 12rem auto;
  }
  .resetPasswordForm__titleBlock {
    @include form-title-block-mobile();
  }
  .resetPasswordForm__form {
    width: 100%;
    .resetPasswordForm__button {
      @include button-mobile(41rem);
    }
  }
}

@media (max-width: 768px) {
  .resetPasswordForm {
    width: 32.8rem;
    .resetPasswordForm__titleBlock {
      @include form-title-block-mobile();
    }
    .resetPasswordForm__form {
      width: 100%;

      .resetPasswordForm__button {
        @include button-mobile(32.8rem);
        @include buttonBlack();
      }
    }
  }
}
