@import "../../../../styles/variables.module";
.ModalError {
  width: 51.9rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  background: $gray-80;
  padding: 2.4rem;
  position: absolute;
  left: 84.1rem;
  bottom: 10rem;
}
.container {
  display: flex;
  column-gap: 1.6rem;
}
.content {
  @include fonts($body-3);
  text-align: start;
}
.closeButton{
  background: $gray-80;
}
.button {
  @include button(19.5rem, $black, $white, $accent-a-3, $accent-a-5);
}

