@import "../../../styles/variables.module";
.newCollectionBlock {
  height: 84.1rem;
}
.newCollectionBlock__image {
  background:
          linear-gradient(90deg, rgba(222, 222, 222, 0.54) 14.47%, rgba(225, 225, 225, 0.00) 45.58%),
          lightgray 50% / cover no-repeat;
}
.newCollectionBlock__section {
  display: flex;
  max-width: 57.8rem;
  position: relative;
  left: 8rem;
  bottom: 55.5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
}
.newCollectionBlock__title1 {
    color: $black;
    word-wrap: break-word;
    @include fonts($headline-1);
}
.newCollectionBlock__text {
  width: 57.8rem;
  color: $black;
  @include fonts($body-2);
  word-wrap: break-word;
  text-align: start;
}
.newCollectionBlock__button {
  @include button(19.5rem);
  @include buttonBlack();
}

