.checkOutUserInfoBlock {
  box-sizing: border-box;
  width: 52.1rem;
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
}

.checkOutUserInfoBlock__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: start;
}

.checkOutUserInfoBlock__radioBlock {
  display: flex;
  flex-direction: row;
  column-gap: 2.4rem;
}

.checkOutUserInfoBlock__radioWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.8rem;
}

.checkOutUserInfoBlock__label {
  display: flex;
  flex-direction: row;
  width: 19.3rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  text-transform: uppercase;
  text-align: start;
  word-wrap: inherit;
  margin-left: 0.8rem;
}

.checkOutUserInfoBlock__radioButton {
  background: transparent;
}
.checkOutUserInfoBlock__radioButton:hover div svg path {
  fill: #5a9b83;
}
.checkOutUserInfoBlock__radioButton:active div svg path {
  fill: #1a6449;
}
.checkOutUserInfoBlock__radioButton:disabled div svg path {
  fill: #c3c3c3;
}

.checkOutUserInfoBlock__userPaymentMethodsList {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.checkOutUserInfoBlock__newCollectionBlock__button {
  display: block;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  width: 63rem;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  background: #000000;
}
.checkOutUserInfoBlock__newCollectionBlock__button span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.checkOutUserInfoBlock__newCollectionBlock__button::before {
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 0.4rem;
  left: 29.1rem;
}
.checkOutUserInfoBlock__newCollectionBlock__button::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 2.5rem;
  left: 31.2rem;
}
.checkOutUserInfoBlock__newCollectionBlock__button:hover::before {
  content: "";
  width: 69.3rem;
  height: 69.3rem;
  opacity: 1;
  position: absolute;
  top: -32.25rem;
  left: -1rem;
}
.checkOutUserInfoBlock__newCollectionBlock__button:active::after {
  content: "";
  width: 69.3rem;
  height: 69.3rem;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: -32.25rem;
  left: -1.1rem;
}
.checkOutUserInfoBlock__newCollectionBlock__button:focus {
  border: 3px solid #5a9b83;
}
.checkOutUserInfoBlock__newCollectionBlock__button:disabled {
  border-color: #868686;
  background: #c3c3c3;
  pointer-events: none;
  cursor: not-allowed;
}
.checkOutUserInfoBlock__newCollectionBlock__button:disabled span {
  color: #9b9b9b;
}
.checkOutUserInfoBlock__newCollectionBlock__button span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #fafafa;
}
.checkOutUserInfoBlock__newCollectionBlock__button::before {
  background: #5a9b83;
}
.checkOutUserInfoBlock__newCollectionBlock__button::after {
  background: #1a6449;
}
.checkOutUserInfoBlock__newCollectionBlock__button:hover::before {
  background: #5a9b83;
}
.checkOutUserInfoBlock__newCollectionBlock__button:active::after {
  border: 1px solid #5a9b83;
}

.checkOutUserInfoBlock__navigationButtonsSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkOutUserInfoBlock__buttonLeft {
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  width: 19rem;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  background: transparent;
  border: none;
  justify-content: flex-start;
  padding-left: 0;
}
.checkOutUserInfoBlock__buttonLeft span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.checkOutUserInfoBlock__buttonLeft::before {
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 0.4rem;
  left: 7.1rem;
}
.checkOutUserInfoBlock__buttonLeft::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 2.5rem;
  left: 9.2rem;
}
.checkOutUserInfoBlock__buttonLeft:hover::before {
  content: "";
  width: 20.9rem;
  height: 20.9rem;
  opacity: 1;
  position: absolute;
  top: -8.05rem;
  left: -1rem;
}
.checkOutUserInfoBlock__buttonLeft:active::after {
  content: "";
  width: 20.9rem;
  height: 20.9rem;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: -8.05rem;
  left: -1.1rem;
}
.checkOutUserInfoBlock__buttonLeft:focus {
  border: 3px solid #5a9b83;
}
.checkOutUserInfoBlock__buttonLeft:disabled {
  border-color: #868686;
  background: #c3c3c3;
  pointer-events: none;
  cursor: not-allowed;
}
.checkOutUserInfoBlock__buttonLeft:disabled span {
  color: #9b9b9b;
}
.checkOutUserInfoBlock__buttonLeft svg path {
  fill: #000000;
}
.checkOutUserInfoBlock__buttonLeft span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}
.checkOutUserInfoBlock__buttonLeft:hover svg path {
  fill: #3a7f66;
}
.checkOutUserInfoBlock__buttonLeft:hover span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #3a7f66;
}
.checkOutUserInfoBlock__buttonLeft:focus svg path {
  fill: #081e16;
}
.checkOutUserInfoBlock__buttonLeft:focus span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #081e16;
}
.checkOutUserInfoBlock__buttonLeft:disabled {
  background: transparent;
}
.checkOutUserInfoBlock__buttonLeft:disabled svg path {
  fill: #868686;
}
.checkOutUserInfoBlock__buttonLeft:disabled span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #868686;
}

.checkOutUserInfoBlock__buttonRight {
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  width: 19rem;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  background: transparent;
  border: none;
  justify-content: flex-end;
  padding-right: 0;
}
.checkOutUserInfoBlock__buttonRight span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.checkOutUserInfoBlock__buttonRight::before {
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 0.4rem;
  left: 7.1rem;
}
.checkOutUserInfoBlock__buttonRight::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 2.5rem;
  left: 9.2rem;
}
.checkOutUserInfoBlock__buttonRight:hover::before {
  content: "";
  width: 20.9rem;
  height: 20.9rem;
  opacity: 1;
  position: absolute;
  top: -8.05rem;
  left: -1rem;
}
.checkOutUserInfoBlock__buttonRight:active::after {
  content: "";
  width: 20.9rem;
  height: 20.9rem;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: -8.05rem;
  left: -1.1rem;
}
.checkOutUserInfoBlock__buttonRight:focus {
  border: 3px solid #5a9b83;
}
.checkOutUserInfoBlock__buttonRight:disabled {
  border-color: #868686;
  background: #c3c3c3;
  pointer-events: none;
  cursor: not-allowed;
}
.checkOutUserInfoBlock__buttonRight:disabled span {
  color: #9b9b9b;
}
.checkOutUserInfoBlock__buttonRight svg path {
  fill: #000000;
}
.checkOutUserInfoBlock__buttonRight span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}
.checkOutUserInfoBlock__buttonRight:hover svg path {
  fill: #3a7f66;
}
.checkOutUserInfoBlock__buttonRight:hover span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #3a7f66;
}
.checkOutUserInfoBlock__buttonRight:focus svg path {
  fill: #081e16;
}
.checkOutUserInfoBlock__buttonRight:focus span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #081e16;
}
.checkOutUserInfoBlock__buttonRight:disabled {
  background: transparent;
}
.checkOutUserInfoBlock__buttonRight:disabled svg path {
  fill: #868686;
}
.checkOutUserInfoBlock__buttonRight:disabled span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #868686;
}
.checkOutUserInfoBlock__buttonRight div {
  transform: rotate(180deg);
}

/*# sourceMappingURL=CheckOutUserInfoBlock.module.css.map */
