@import '../../../../styles/variables.module';
.checkOutUserInfoBlock {
  box-sizing: border-box;
  width: 52.1rem;
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
}
.newsLetterBlock__title2 {
  @include fonts($headline-3);
  text-align: start;
}
.radioBlock {
  display: flex;
  flex-direction: row;
  column-gap: 2.4rem;
}
.radioWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.8rem;
}
.label {
  display: flex;
  flex-direction: row;
  width: 19.3rem;
  @include fonts($headline-9);
  text-align: start;
  word-wrap: inherit;
  margin-left: 0.8rem;
}
.radioButton {
  background: transparent;
  &:hover {
    div {
      svg {
        path {
          fill: $accent-a-3
        }
      }
    }
  }
  &:active {
    div {
      svg {
        path {
          fill: $accent-a-5
        }
      }
    }
  }
  &:disabled {
    div {
      svg {
        path {
          fill: $gray-70;
        }
      }
    }
  }
}
.userPaymentMethodsList {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.newCollectionBlock__button {
  display: block;
  margin: 0 auto;
  @include button($large);
  @include buttonBlack();
}
.navigationButtonsSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.buttonLeft {
  @include button($small);
  @include buttonTransparent();
  justify-content: flex-start;
  padding-left: 0;
}
.buttonRight {
  @include button($small);
  @include buttonTransparent();
  justify-content: flex-end;
  padding-right: 0;
  div {
    transform: rotate(180deg);
  }
}
