@import '../../../styles/variables.module.scss';

.aside {
  @include headline-4();
  text-align: start;
  white-space: nowrap;
}
.asideList {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
  li {
    cursor: pointer;
  }
}
.unactive {
  color: $gray-20;
}
.active {
  color: $black;
}
.helpField {
  display: flex;
  justify-content: space-between;
}
.helpChevron {
  transform: rotate(90deg);
}
@media (min-width: 581px) and (max-width: 768px) {
  .aside {
    @include headline-5();
    white-space: unset;
  }
}
@media (max-width: 580px) {
  .aside {
    @include tablet-headline-3();
  }
  .asideList {
    width: 100%;
    gap: 2.4rem;
    li {
      width: 100%;
    }
  }
}
