@import '../../../styles/variables.module.scss';

.aside {
  @include headline-4();
  text-align: start;
  white-space: nowrap;
}
.asideList {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
  li {
    cursor: pointer;
  }
}
.unactive {
  color: $gray-20;
}
.active {
  color: $black;
}
@media (min-width: 581px) and (max-width: 768px) {
  .aside {
    @include fonts($headline-5);
    white-space: unset;
  }
}
@media (max-width: 580px) {
  .aside {
    @include fonts($tablet-headline-3);
  }
  .asideList {
    gap: 2.4rem;
  }
}
