@import "../../styles/variables.module.scss";
.modalCookies {
  width: 51.9rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  background: $gray-90;
  padding: 2.4rem;
  position: fixed;
  right: 7rem;
  bottom: 9.2rem;
  z-index: 1001;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.7);
}
.modalCookies__container {
  display: flex;
  column-gap: 1.6rem;
}
.modalCookies__content {
  @include fonts($body-3);
  text-align: start;
}
.modalCookies__closeButton{
  background: inherit;
}
.modalCookies__button {
  @include button(19rem);
  @include buttonBlack();
}
