.vscode
.idea
.gitignore

server/node_modules
server/build
server/.gitignore
server/.dockerignore
server/.env

client/node_modules
client/build
client/.gitignore
client/.eslintrc.js
client/generate-react-cli.json
client/.env.development
client/.env.production
client/.dockerignore



