@import '../../../styles/variables.module.scss';

.fashionBlock {
  display: flex;
  gap: 5.2rem;
}

.imgs {
  display: block;
  position: relative;
  width: 100%;
  aspect-ratio: 4/3.2;
  flex: 50% 1 1;

  img {
    display: block;
    aspect-ratio: 4.1/4;
    width: 95%;
  }
}

.mainImg {
  display: block;
  width: 65.4%;
  aspect-ratio: 4.1/4;
}

.secondImg {
  display: block;
  position: absolute;
  bottom: 0;
  right: -2rem;
  width: 65.4%;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  flex: 50% 1 1;
  justify-content: center;
  order: -1;
  text-align: start;
}

.newsLetterBlock__title2 {
  max-width: 28rem;
  padding-bottom: 0.8rem;
  @include fonts($headline-4);
  border-bottom: 0.1rem solid $black-color;

  span {
    @include fonts($headline-3);
  }
}

.modalCookies__text {
  max-width: 60rem;
  @include fonts($body-3);
}
