@import "../../styles/variables.module";
.emptyBlock {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.emptyBlock__description {
  text-align: start;
  @include fonts($body-2);
}
.emptyBlock__button {
  @include button(22.6rem);
  @include buttonBlack();
}
