@import "../../styles/variables.module";
.emptyBlock {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.title {
  @include fonts($headline-2);
  text-align: start;
  padding: 1.2rem 0;
}
.description {
  text-align: start;
  @include fonts($body-2);
}
.button {
  @include button(22.6rem);
  @include buttonBlack();
}
