@import 'client/src/styles/variables.module';
#button {
  width: 62.8rem!important;
}
.loginFormBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
}
.button {
  display: block;
  margin: 0 auto;
  @include button(41rem, $black, $white, $accent-a-3, $accent-a-5);
}
.googleButtonBlock {
  display: block;
  margin: 0 auto;
}
.googleButton {
  display: flex;
  gap: 1.2rem;
  border: 1px solid $black;
  margin: 0 auto;
  @include button(41rem, $white, $black, $transparent-30-a-05, $accent-a-3);
}
.divider {
  @include divider();
}
.socialButtonsBlock {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}
.forgotPassword {
  display: block;
  margin: 0 auto;
  @include fonts($link-2);
  color: $gray-10;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}
.errorMessagesBlock {
  @include form-message-block($light-pink, $error);
  @include fonts($body-3)
}
.successMessagesBlock {
  @include form-message-block($accent-a-05, $success);
  @include fonts($body-3)
}

