.loginFormBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
}
.loginFormBlock .loginFormBlock__button {
  display: block;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  width: 41rem;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  background: #000000;
}
.loginFormBlock .loginFormBlock__button span {
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.loginFormBlock .loginFormBlock__button::before {
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 0.4rem;
  left: 18.1rem;
}
.loginFormBlock .loginFormBlock__button::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 2.5rem;
  left: 20.2rem;
}
.loginFormBlock .loginFormBlock__button:hover::before {
  content: "";
  width: 45.1rem;
  height: 45.1rem;
  opacity: 1;
  position: absolute;
  top: -20.15rem;
  left: -1rem;
}
.loginFormBlock .loginFormBlock__button:active::after {
  content: "";
  width: 45.1rem;
  height: 45.1rem;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: -20.15rem;
  left: -1.1rem;
}
.loginFormBlock .loginFormBlock__button:disabled {
  border-color: #868686;
  background: #c3c3c3;
  pointer-events: none;
  cursor: not-allowed;
}
.loginFormBlock .loginFormBlock__button:disabled span {
  color: #9b9b9b;
}
.loginFormBlock .loginFormBlock__button span {
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  color: #fafafa;
}
.loginFormBlock .loginFormBlock__button::before {
  background: #5a9b83;
}
.loginFormBlock .loginFormBlock__button::after {
  background: #1a6449;
}
.loginFormBlock .loginFormBlock__button:hover::before {
  background: #5a9b83;
}
.loginFormBlock .loginFormBlock__button:active::after {
  border: 1px solid #5a9b83;
}
.loginFormBlock .loginFormBlock__googleButtonBlock {
  display: block;
  margin: 0 auto;
}
.loginFormBlock .loginFormBlock__googleButton {
  display: flex;
  gap: 1.2rem;
  border: 1px solid #000000;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  width: 41rem;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  background: #fafafa;
  border: 0.1rem solid #000000;
}
.loginFormBlock .loginFormBlock__googleButton span {
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.loginFormBlock .loginFormBlock__googleButton::before {
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 0.4rem;
  left: 18.1rem;
}
.loginFormBlock .loginFormBlock__googleButton::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 2.5rem;
  left: 20.2rem;
}
.loginFormBlock .loginFormBlock__googleButton:hover::before {
  content: "";
  width: 45.1rem;
  height: 45.1rem;
  opacity: 1;
  position: absolute;
  top: -20.15rem;
  left: -1rem;
}
.loginFormBlock .loginFormBlock__googleButton:active::after {
  content: "";
  width: 45.1rem;
  height: 45.1rem;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: -20.15rem;
  left: -1.1rem;
}
.loginFormBlock .loginFormBlock__googleButton:disabled {
  border-color: #868686;
  background: #c3c3c3;
  pointer-events: none;
  cursor: not-allowed;
}
.loginFormBlock .loginFormBlock__googleButton:disabled span {
  color: #9b9b9b;
}
.loginFormBlock .loginFormBlock__googleButton span {
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.loginFormBlock .loginFormBlock__googleButton::before {
  background: rgba(169, 223, 203, 0.3);
}
.loginFormBlock .loginFormBlock__googleButton::after {
  background: #a9dfcb;
}
.loginFormBlock .loginFormBlock__googleButton:hover::before {
  background: rgba(169, 223, 203, 0.3);
}
.loginFormBlock .loginFormBlock__googleButton:active::after {
  border: 1px solid rgba(169, 223, 203, 0.3);
}
.loginFormBlock .divider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  align-self: stretch;
}
.loginFormBlock .divider div {
  width: 50%;
  height: 0.1rem;
  background: #d7d7d7;
}
.loginFormBlock .divider span {
  color: #000000;
  font-size: 16px;
  line-height: 110%;
}
.loginFormBlock .loginFormBlock__socialButtonsBlock {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}
.loginFormBlock .loginFormBlock__forgotPassword {
  display: block;
  font-size: 12px;
  line-height: 110%;
  color: #4a4a4a;
}
.loginFormBlock .loginFormBlock__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}
.loginFormBlock .loginFormBlock__button {
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  width: 41rem;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  background: #000000;
}
.loginFormBlock .loginFormBlock__button span {
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.loginFormBlock .loginFormBlock__button::before {
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 0.4rem;
  left: 18.1rem;
}
.loginFormBlock .loginFormBlock__button::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 2.5rem;
  left: 20.2rem;
}
.loginFormBlock .loginFormBlock__button:hover::before {
  content: "";
  width: 45.1rem;
  height: 45.1rem;
  opacity: 1;
  position: absolute;
  top: -20.15rem;
  left: -1rem;
}
.loginFormBlock .loginFormBlock__button:active::after {
  content: "";
  width: 45.1rem;
  height: 45.1rem;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: -20.15rem;
  left: -1.1rem;
}
.loginFormBlock .loginFormBlock__button:disabled {
  border-color: #868686;
  background: #c3c3c3;
  pointer-events: none;
  cursor: not-allowed;
}
.loginFormBlock .loginFormBlock__button:disabled span {
  color: #9b9b9b;
}
.loginFormBlock .loginFormBlock__button span {
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  color: #fafafa;
}
.loginFormBlock .loginFormBlock__button::before {
  background: #5a9b83;
}
.loginFormBlock .loginFormBlock__button::after {
  background: #1a6449;
}
.loginFormBlock .loginFormBlock__button:hover::before {
  background: #5a9b83;
}
.loginFormBlock .loginFormBlock__button:active::after {
  border: 1px solid #5a9b83;
}
.loginFormBlock .errorMessagesBlock {
  display: flex;
  align-self: stretch;
  background: #dfc5c5;
  font-size: 16px;
  line-height: 110%;
}
.loginFormBlock .errorMessagesBlock p {
  width: 100%;
  text-align: start;
  padding: 1.2rem;
  color: #ea001b;
}
.loginFormBlock .loader {
  background: conic-gradient(#fafafa, #79b6a0);
  position: relative;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: rotation 1.5s linear infinite;
}
.loginFormBlock .loader:before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #000000;
  border-radius: 50%;
  top: 12.5%;
  left: 12.5%;
}
.loginFormBlock .loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: #79b6a0;
  right: 45%;
  width: 0.5rem;
  height: 0.5rem;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loginFormBlock[type="1"] .loginFormBlock__button {
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  width: 52.1rem;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
}
.loginFormBlock[type="1"] .loginFormBlock__button span {
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.loginFormBlock[type="1"] .loginFormBlock__button::before {
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 0.4rem;
  left: 23.65rem;
}
.loginFormBlock[type="1"] .loginFormBlock__button::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 2.5rem;
  left: 25.75rem;
}
.loginFormBlock[type="1"] .loginFormBlock__button:hover::before {
  content: "";
  width: 57.31rem;
  height: 57.31rem;
  opacity: 1;
  position: absolute;
  top: -26.255rem;
  left: -1rem;
}
.loginFormBlock[type="1"] .loginFormBlock__button:active::after {
  content: "";
  width: 57.31rem;
  height: 57.31rem;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: -26.255rem;
  left: -1.1rem;
}
.loginFormBlock[type="1"] .loginFormBlock__button:disabled {
  border-color: #868686;
  background: #c3c3c3;
  pointer-events: none;
  cursor: not-allowed;
}
.loginFormBlock[type="1"] .loginFormBlock__button:disabled span {
  color: #9b9b9b;
}
.loginFormBlock[type="1"] .loginFormBlock__googleButton {
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  width: 52.1rem;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
}
.loginFormBlock[type="1"] .loginFormBlock__googleButton span {
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.loginFormBlock[type="1"] .loginFormBlock__googleButton::before {
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 0.4rem;
  left: 23.65rem;
}
.loginFormBlock[type="1"] .loginFormBlock__googleButton::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 2.5rem;
  left: 25.75rem;
}
.loginFormBlock[type="1"] .loginFormBlock__googleButton:hover::before {
  content: "";
  width: 57.31rem;
  height: 57.31rem;
  opacity: 1;
  position: absolute;
  top: -26.255rem;
  left: -1rem;
}
.loginFormBlock[type="1"] .loginFormBlock__googleButton:active::after {
  content: "";
  width: 57.31rem;
  height: 57.31rem;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: -26.255rem;
  left: -1.1rem;
}
.loginFormBlock[type="1"] .loginFormBlock__googleButton:disabled {
  border-color: #868686;
  background: #c3c3c3;
  pointer-events: none;
  cursor: not-allowed;
}
.loginFormBlock[type="1"] .loginFormBlock__googleButton:disabled span {
  color: #9b9b9b;
}
.loginFormBlock[type="1"] .loginFormBlock__forgotPassword {
  margin: 0 auto;
}

/*# sourceMappingURL=LoginFormBlock.module.css.map */
