@import '../../styles/variables.module';

.selection {
  display: flex;
  justify-content: space-between;
  margin-top: 3.2rem;
  padding-bottom: 0.8rem;
  border-bottom: 0.1rem solid $black;
}

.iconBtn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: inherit;
  text-transform: uppercase;
}
