.shoppingCartPage {
  min-height: 100vh;
  width: 128rem;
  display: flex;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 25rem;
}

.shoppingCartPage__navigation {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-transform: none;
  text-align: start;
  margin: 1.6rem 0 1.4rem;
}

.shoppingCartPage__titleBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shoppingCartPage__infoBlock {
  width: 39.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2.4rem;
}

.shoppingCartPage__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
}

.shoppingCartPage__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: start;
  text-wrap: none;
}

.shoppingCartPage__button {
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  width: 29.2rem;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  background: #fafafa;
  border: 0.1rem solid #000000;
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  justify-content: center;
  align-items: center;
}
.shoppingCartPage__button span {
  font-weight: 600;
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.shoppingCartPage__button::before {
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 0.4rem;
  left: 12.2rem;
}
.shoppingCartPage__button::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 2.5rem;
  left: 14.3rem;
}
.shoppingCartPage__button:hover::before {
  content: "";
  width: 32.12rem;
  height: 32.12rem;
  opacity: 1;
  position: absolute;
  top: -13.66rem;
  left: -1rem;
}
.shoppingCartPage__button:active::after {
  content: "";
  width: 32.12rem;
  height: 32.12rem;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: -13.66rem;
  left: -1.1rem;
}
.shoppingCartPage__button:focus {
  border: 3px solid #5a9b83;
}
.shoppingCartPage__button:disabled {
  border-color: #868686;
  background: #c3c3c3;
  pointer-events: none;
  cursor: not-allowed;
}
.shoppingCartPage__button:disabled span {
  color: #9b9b9b;
}
.shoppingCartPage__button span {
  font-weight: 600;
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.shoppingCartPage__button::before {
  background: rgba(169, 223, 203, 0.3);
}
.shoppingCartPage__button::after {
  background: #a9dfcb;
}
.shoppingCartPage__button:hover::before {
  background: rgba(169, 223, 203, 0.3);
}
.shoppingCartPage__button:active::after {
  border: 1px solid rgba(169, 223, 203, 0.3);
}
.shoppingCartPage__button div {
  position: relative;
  z-index: 10;
  width: 2.4rem;
}
.shoppingCartPage__button div svg {
  width: 2.4rem;
}

.shoppingCartPage__emptyCartBlock {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.shoppingCartPage__fillCartBlock {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2.4rem;
}

.shoppingCartPage__itemsBlock {
  padding-top: 2.4rem;
}

/*# sourceMappingURL=ShoppingCartPage.module.css.map */
