@import '../../../../styles/variables.module';
.checkOutBlock {
  position: fixed;
  left: 94.9rem;
  width: 41.1rem;
  border: 1px solid $black;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  padding: 4rem 2.4rem;
}
.form {
  display: flex;
  flex-direction: row;
  gap: 2.4rem
}
.arrowButton {
  margin-top: auto;
  @include button(7.5rem,  $black, $white, $accent-a-3, $accent-a-5);
}
.totalPriceBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include fonts($headline-3);
}
.buttonsBlock {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  button:first-child {
    @include button(36.3rem, $black, $white, $accent-a-3, $accent-a-5);
  }
  button:last-child {
    border: 1px solid $black;
    @include button(36.3rem, $white, $black, $accent-a-3, $accent-a-5);
  }
}

