@import "src/styles/variables.module";
.ordersList {
  width: 84.3rem;
  @include fonts($headline-9);
}
.table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
th {
  width: 13.3rem;
  padding-bottom: 1.8rem;
  border-bottom: 1px solid $gray-30;
}
td {
  padding: 2.4rem 0;
  border-bottom: 1px solid $gray-30;
}

