@import "../../styles/variables.module.scss";
.orderCompletePage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 2.7rem;
  width: 128rem;
  margin: 3.2rem auto;
}
.titleBlock {
  display: flex;
  flex-direction: row;
  column-gap: 1.6rem;
}
.newsLetterBlock__title2 {
  color: $accent-a-5;
  @include fonts($headline-4)
}
.numberBlock {
  display: flex;
  flex-direction: row;
  column-gap: 10.8rem;
  @include fonts($headline-8)
}
.textBlock {
  display: flex;
  flex-direction: column;
  @include fonts($body-2);
}
.buttonsBlock {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  margin-top: 2.1rem;

  button:first-child {
    @include button(20rem);
    @include buttonBlack();
  }

  button:last-child {
    @include button(20rem);
    @include buttonWhite();
  }
}
