@import "../../styles/variables.module.scss";
.orderCompletePage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 2.7rem;
  width: 128rem;
  margin: 3.2rem auto;
}
.orderCompletePage__titleBlock {
  display: flex;
  flex-direction: row;
  column-gap: 1.6rem;
}
.orderCompletePage__title {
  color: $accent-a-5;
  @include headline-4();
}
.orderCompletePage__numberBlock {
  display: flex;
  flex-direction: row;
  column-gap: 10.8rem;
  @include headline-8();
}
.orderCompletePage__textBlock {
  display: flex;
  flex-direction: column;
 @include body-2();
}
.orderCompletePage__buttonsBlock {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  margin-top: 2.1rem;

  a:first-child {
    @include button(20rem);
    @include buttonBlack();
  }

  a:last-child {
    @include button(20rem);
    @include buttonWhite();
  }
}
