@import "../../styles/variables.module.scss";
.orderCompletePage {
  display: flex;
  flex-direction: column;
  row-gap: 2.7rem;
  width: 128rem;
  margin: 3.2rem auto;
}
.titleBlock {
  display: flex;
  flex-direction: row;
  column-gap: 1.6rem;
}
.title {
  color: $accent-a-5;
  @include fonts($headline-4)
}
.numberBlock {
  display: flex;
  flex-direction: row;
  column-gap: 10.8rem;
  @include fonts($headline-8)
}
.textBlock {
  display: flex;
  flex-direction: column;
  @include fonts($body-2);
}
.buttonsBlock {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  margin-top: 2.1rem;

  button:first-child {
    @include buttons(20rem, $black, $white, $accent-a-3, $accent-a-5);
  }

  button:last-child {
    border: 1px solid $black;
    @include buttons(20rem, $white, $black, $transparent-30-a-05, $accent-a-05);
  }
}
