@import '../../styles/variables.module.scss';
.categoryPreviewCard {
  display: flex;
  width: 19.3rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  cursor: pointer;

  img{
    transition: scale 0.3s ease-in-out;
  }

  &:hover img{
    scale: 1.025;
  }

  .categoryPreviewCard__title {
    text-transform: capitalize;
    @include fonts($body-2)
  };
}
