@import "../../styles/variables.module";
.userDataForm {
  width: 52.6rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.title {
  @include fonts($menu-1);
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.userPersonalDataForm {
  width: 100%;
  row-gap: 1.6rem;
}
.deliveryForm {

}
.button {
  margin-left: auto;
  margin-top: 1.6rem;
  @include button(24rem, $black, $white, $accent-a-3, $accent-a-5);
}
