@import '../../../styles/variables.module';
.loginForm {
  width: 100%;
  @include form();

  .loginForm__titleBlock {
    @include form-title-block();
  }

  .loginForm__backToSignUp {
    display: flex;
    justify-content: center;
    .loginForm__backToSignUpLink {
      @include link-1();
    }
  }
}
@media (min-width: 769px) and (max-width: 1118px) {
  .loginForm {
    @include form-mobile();

    .loginForm__titleBlock {
      @include form-title-block-mobile();
    }
  }
}

@media (max-width: 768px) {
  .loginForm {
    @include form-mobile();

    .loginForm__titleBlock {
      @include form-title-block-mobile();
    }
  }
}
