@import '../../../styles/variables.module';
.loginForm {
  @include form();
}
.loginForm__titleBlock {
  @include form-title-block();
}
.toRegisterForm {
  display: flex;
  justify-content: center;
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

