@import '../../../styles/variables.module';
.loginForm {
  width: 100%;
  @include form();
}
.loginForm__titleBlock {
  @include form-title-block();
}
.toRegisterForm {
  display: flex;
  justify-content: center;
  .toSignUpLink {
    @include link();
  }
}
@media (max-width: 36rem) {
  .loginForm__titleBlock {
    @include form-title-block-mobile();
  }
}
