@import '../../../../styles/variables.module';
.checkOutBlock {
  width: 41.1rem;
  position: absolute;
  right:0;
  height: 28.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  padding: 4rem 2.4rem;
  background: $white;
}
.form {
  display: flex;
  flex-direction: row;
  gap: 2.4rem
}
.arrowButton {
  margin-top: auto;
  @include button(7.5rem);
  @include buttonBlack();
}
.totalPriceBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include fonts($headline-3);
}
.buttonsBlock {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  button:first-child {
    @include button(36.3rem);
    @include buttonBlack();
  }
  button:last-child {
    @include button(36.3rem);
    @include buttonWhite();
  }
}

