.checkOutBlock {
  width: 41.1rem;
  position: absolute;
  right: 0;
  height: 28.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  padding: 4rem 2.4rem;
  background: #fafafa;
}

.loginFormBlock__form {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
}

.arrowButton {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  width: 7.5rem;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  background: #000000;
}
.arrowButton span {
  font-family: "Fixel Display Semibold";
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.arrowButton::before {
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 0.4rem;
  left: 1.35rem;
}
.arrowButton::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 2.5rem;
  left: 3.45rem;
}
.arrowButton:hover::before {
  content: "";
  width: 8.25rem;
  height: 8.25rem;
  opacity: 1;
  position: absolute;
  top: -1.725rem;
  left: -1rem;
}
.arrowButton:active::after {
  content: "";
  width: 8.25rem;
  height: 8.25rem;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: -1.725rem;
  left: -1.1rem;
}
.arrowButton:disabled {
  border-color: #868686;
  background: #c3c3c3;
  pointer-events: none;
  cursor: not-allowed;
}
.arrowButton:disabled span {
  color: #9b9b9b;
}
.arrowButton span {
  font-family: "Fixel Display Semibold";
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  color: #fafafa;
}
.arrowButton::before {
  background: #5a9b83;
}
.arrowButton::after {
  background: #1a6449;
}
.arrowButton:hover::before {
  background: #5a9b83;
}
.arrowButton:active::after {
  border: 1px solid #5a9b83;
}

.totalPriceBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Fixel Display Bold";
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
}

.buttonsBlock {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.buttonsBlock button:first-child {
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  width: 36.3rem;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  background: #000000;
}
.buttonsBlock button:first-child span {
  font-family: "Fixel Display Semibold";
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.buttonsBlock button:first-child::before {
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 0.4rem;
  left: 15.75rem;
}
.buttonsBlock button:first-child::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 2.5rem;
  left: 17.85rem;
}
.buttonsBlock button:first-child:hover::before {
  content: "";
  width: 39.93rem;
  height: 39.93rem;
  opacity: 1;
  position: absolute;
  top: -17.565rem;
  left: -1rem;
}
.buttonsBlock button:first-child:active::after {
  content: "";
  width: 39.93rem;
  height: 39.93rem;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: -17.565rem;
  left: -1.1rem;
}
.buttonsBlock button:first-child:disabled {
  border-color: #868686;
  background: #c3c3c3;
  pointer-events: none;
  cursor: not-allowed;
}
.buttonsBlock button:first-child:disabled span {
  color: #9b9b9b;
}
.buttonsBlock button:first-child span {
  font-family: "Fixel Display Semibold";
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  color: #fafafa;
}
.buttonsBlock button:first-child::before {
  background: #5a9b83;
}
.buttonsBlock button:first-child::after {
  background: #1a6449;
}
.buttonsBlock button:first-child:hover::before {
  background: #5a9b83;
}
.buttonsBlock button:first-child:active::after {
  border: 1px solid #5a9b83;
}
.buttonsBlock button:last-child {
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  width: 36.3rem;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  background: #fafafa;
  border: 0.1rem solid #000000;
}
.buttonsBlock button:last-child span {
  font-family: "Fixel Display Semibold";
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.buttonsBlock button:last-child::before {
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 0.4rem;
  left: 15.75rem;
}
.buttonsBlock button:last-child::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 2.5rem;
  left: 17.85rem;
}
.buttonsBlock button:last-child:hover::before {
  content: "";
  width: 39.93rem;
  height: 39.93rem;
  opacity: 1;
  position: absolute;
  top: -17.565rem;
  left: -1rem;
}
.buttonsBlock button:last-child:active::after {
  content: "";
  width: 39.93rem;
  height: 39.93rem;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: -17.565rem;
  left: -1.1rem;
}
.buttonsBlock button:last-child:disabled {
  border-color: #868686;
  background: #c3c3c3;
  pointer-events: none;
  cursor: not-allowed;
}
.buttonsBlock button:last-child:disabled span {
  color: #9b9b9b;
}
.buttonsBlock button:last-child span {
  font-family: "Fixel Display Semibold";
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.buttonsBlock button:last-child::before {
  background: rgba(169, 223, 203, 0.3);
}
.buttonsBlock button:last-child::after {
  background: #a9dfcb;
}
.buttonsBlock button:last-child:hover::before {
  background: rgba(169, 223, 203, 0.3);
}
.buttonsBlock button:last-child:active::after {
  border: 1px solid rgba(169, 223, 203, 0.3);
}

/*# sourceMappingURL=CheckOutBlock.module.css.map */
