@import '../../../styles/variables.module';
.registerForm {
  width: 41rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.registerForm__titleBlock {
  @include form-title-block();
}
.loginFormBlock__forgotPassword {
  @include fonts($link-2);
  color: $gray-10;
}
.errorMessagesBlock {
  @include form-message-block($light-pink, $error);
}
.successMessagesBlock {
  @include form-message-block($accent-a-05, $success);
}
