@import '../../../styles/variables.module';
.registerForm {
  @include form();
}
.registerForm__titleBlock {
  @include form-title-block();
}
.loginFormBlock__forgotPassword {
  @include fonts($link-2);
  color: $gray-10;
}
.registerForm__errorMessagesBlock {
  @include form-message-block($light-pink, $error);
}
.registerForm__successMessagesBlock {
  @include form-message-block($accent-a-05, $success);
}
.toLoginForm {
  display: flex;
  justify-content: center;
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
