@import "../../styles/variables.module.scss";
.newCollectionBlock {
  background:
          linear-gradient(90deg, rgba(222, 222, 222, 0.54) 14.47%, rgba(225, 225, 225, 0.00) 45.58%),
          url("../../../public/img/images/NewCollection/Rectangle 25.png"),
          lightgray 50% / cover no-repeat;
;
  width: 100%;
  height: 84.1rem;
  margin: 0 auto;
}
.newCollectionBlock__wrapper {
  display: inline-flex;
  width: 57.8rem;
  height: 26.3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
  margin-top: 24.1rem;
  margin-left: 8rem;
  margin-bottom: 33.7rem;
}
.newCollectionBlock__title {
    color: $black;
    word-wrap: break-word;
    @include fonts($headline-1);
}
.newCollectionBlock__manifest {
  color: #000;
  font-size: 1.8rem;
  font-weight: 300;
  word-wrap: break-word;
}
.buttons {
  width: 19.5rem;
  padding: 2.1rem 3.6rem;
  background: #222222;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  display: inline-flex
}
.buttons:hover {
  background: var(--accent-a-3, #5A9B83);
}
.buttons:active {
  background: var(--accent-a-5, #1A6449);
}
.buttonText {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-family: Fixel, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 2.4rem;
  word-wrap: break-word;
}

