@import '../../styles/variables.module.scss';
.checkOutPage {
  display: flex;
  flex-direction: row;
  column-gap: 2.4rem;
  margin: 6rem 8rem;
  justify-content: space-between;
}
.checkOutShoppingCartBlock {
  width: 51.9rem;
  height: min-content;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  background: $white;
  box-sizing: border-box;
}
.titleBlock {
  display: flex;
  flex-direction: row;
  column-gap: 1.2rem;
  @include fonts($headline-5);
}
.title {
  @include fonts($headline-3);
}
.form {
  display: flex;
  flex-direction: row;
  gap: 2.4rem
}
.arrowButton {
  margin-top: 3rem;
  height: 4.8rem;
  width: 7.5rem;
  background: $white;
  span {
    @include fonts($button);
    font-size: 2.4rem;
    color: $black;
    text-align: center;
    position: relative;
    //z-index: 10;
  }
  &:hover {
    span {
      color: $accent-a-4;
    }
  }
  &:active {
    span {
      color: $accent-a-6;
    }
  }
  &:disabled {
    span {
      color: $gray-50;
    }
  }
}
.priceBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include fonts($headline-3);
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include fonts($body-3);
}
.discount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $error;
  @include fonts($body-3);
}
.button {
  @include button(42.3rem, $black, $white, $accent-a-3, $accent-a-5);
}

