@import "../../../../styles/variables.module";
.modalCookies {
  width: 60.4rem;
  height: 46.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  background: $gray-90;
  padding: 3.2rem;
  position: absolute;
  left: 8rem;
  top: 20rem;
  .text {
    @include fonts($body-2)
  }
}
.title {
  @include fonts($headline-3);
}
.newCollectionBlock__button {
  @include button($small);
  @include buttonBlack();
}
.block {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2.4rem;
}

