@import "../../../../styles/variables.module";
.modalCookies {
  width: 61.4rem;
  height: 46.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  background: $gray-90;
  padding: 3.2rem;
  position: absolute;
  left: 8rem;
  top: 20rem;
  .modalCookies__text {
    width: fit-content;
    @include fonts($body-2)
  }
}
.modalCookies__title2 {
  @include fonts($headline-3);
}
.modalCookies__button {
  @include button($small);
  @include buttonBlack();
}
.modalCookies__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1.6rem;
}

