@import '../../../../../styles/variables.module.scss';
.userDeliveryBlock {
  width: 100%;
}
.userDeliveryBlock__deliveryTitle {
  @include headline_3();
  text-align: start;
  margin-bottom: 2.4rem;
}
.userDeliveryBlock__section {
  display: flex;
  flex-direction: row;
  column-gap: 13.4rem;
}
.userDeliveryBlock__blockLabel {
 @include headline-6();
  text-align: start;
};
.userDeliveryBlock__column {
  display: flex;
  flex-direction: column;
  row-gap: 1.8rem;
  width: 30rem;
}
.userDeliveryBlock__button {
  @include button(19.3rem);
  @include buttonBlack();
}
