.userDeliveryBlock {
  width: 100%;
}
.userDeliveryBlock .userDeliveryBlock__deliveryTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: start;
  margin-bottom: 2.4rem;
}
.userDeliveryBlock .userDeliveryBlock__section {
  display: flex;
  flex-direction: row;
  column-gap: 13.4rem;
}
.userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column {
  display: flex;
  flex-direction: column;
  row-gap: 1.8rem;
  width: 30rem;
}
.userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__blockLabel {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: start;
}
.userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button {
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  width: 19.3rem;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  background: #000000;
}
.userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button::before {
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 0.4rem;
  left: 7.25rem;
}
.userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 2.5rem;
  left: 9.35rem;
}
.userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button:hover::before {
  content: "";
  width: 21.23rem;
  height: 21.23rem;
  opacity: 1;
  position: absolute;
  top: -8.215rem;
  left: -1rem;
}
.userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button:active::after {
  content: "";
  width: 21.23rem;
  height: 21.23rem;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: -8.215rem;
  left: -1.1rem;
}
.userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button:focus {
  border: 3px solid #5a9b83;
}
.userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button:disabled {
  border-color: #868686;
  background: #c3c3c3;
  pointer-events: none;
  cursor: not-allowed;
}
.userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button:disabled span {
  color: #9b9b9b;
}
.userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #fafafa;
}
.userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button::before {
  background: #5a9b83;
}
.userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button::after {
  background: #1a6449;
}
.userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button:hover::before {
  background: #5a9b83;
}
.userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button:active::after {
  border: 1px solid #5a9b83;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .userDeliveryBlock {
    width: 43.1rem;
  }
  .userDeliveryBlock .userDeliveryBlock__section {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column {
    width: 43.1rem;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__blockLabel {
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    text-transform: uppercase;
    text-align: start;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button {
    display: flex;
    flex-direction: row;
    column-gap: 0.4rem;
    width: 19.3rem;
    height: 5.6rem;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 1.2rem 1.2rem;
    background: #000000;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button span {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-align: center;
    position: relative;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button::before {
    content: "";
    width: 4.8rem;
    height: 4.8rem;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    transition: 300ms ease-in;
    top: 0.4rem;
    left: 7.25rem;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button::after {
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    transition: 300ms ease-in;
    top: 2.5rem;
    left: 9.35rem;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button:hover::before {
    content: "";
    width: 21.23rem;
    height: 21.23rem;
    opacity: 1;
    position: absolute;
    top: -8.215rem;
    left: -1rem;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button:active::after {
    content: "";
    width: 21.23rem;
    height: 21.23rem;
    border-radius: 50%;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: -8.215rem;
    left: -1.1rem;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button:focus {
    border: 3px solid #5a9b83;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button:disabled {
    border-color: #868686;
    background: #c3c3c3;
    pointer-events: none;
    cursor: not-allowed;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button:disabled span {
    color: #9b9b9b;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button span {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    color: #fafafa;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button::before {
    background: #5a9b83;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button::after {
    background: #1a6449;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button:hover::before {
    background: #5a9b83;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button:active::after {
    border: 1px solid #5a9b83;
  }
}
@media (max-width: 767px) {
  .userDeliveryBlock {
    width: 32.8rem;
  }
  .userDeliveryBlock .userDeliveryBlock__section {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column {
    width: 32.8rem;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__blockLabel {
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    text-transform: uppercase;
    text-align: start;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button {
    display: flex;
    flex-direction: row;
    column-gap: 0.4rem;
    width: 19.3rem;
    height: 5.6rem;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 1.2rem 1.2rem;
    background: #000000;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button span {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-align: center;
    position: relative;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button::before {
    content: "";
    width: 4.8rem;
    height: 4.8rem;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    transition: 300ms ease-in;
    top: 0.4rem;
    left: 7.25rem;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button::after {
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    transition: 300ms ease-in;
    top: 2.5rem;
    left: 9.35rem;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button:hover::before {
    content: "";
    width: 21.23rem;
    height: 21.23rem;
    opacity: 1;
    position: absolute;
    top: -8.215rem;
    left: -1rem;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button:active::after {
    content: "";
    width: 21.23rem;
    height: 21.23rem;
    border-radius: 50%;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: -8.215rem;
    left: -1.1rem;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button:focus {
    border: 3px solid #5a9b83;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button:disabled {
    border-color: #868686;
    background: #c3c3c3;
    pointer-events: none;
    cursor: not-allowed;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button:disabled span {
    color: #9b9b9b;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button span {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    color: #fafafa;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button::before {
    background: #5a9b83;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button::after {
    background: #1a6449;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button:hover::before {
    background: #5a9b83;
  }
  .userDeliveryBlock .userDeliveryBlock__section .userDeliveryBlock__column .userDeliveryBlock__button:active::after {
    border: 1px solid #5a9b83;
  }
}

/*# sourceMappingURL=UserDeliveryBlock.module.css.map */
