@import '../../../styles/variables.module';
.userDeliveryAddressList {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}
.radioWrapper {
  width: 30rem;
  display: flex;
  column-gap: 0.8rem;
}
.label {
  display: flex;
  flex-direction: row;
}
.input {
  position: absolute;
  background: url('../../../../public/img/svg/adio_button_unchecked.svg');
  //color: $black;
}
.input:checked {
  background: url('../../../../public/img/svg/adio_button_unchecked.svg');
  position: absolute;
  appearance: none;
  //color: $black;
}
.labelText {
  @include fonts($label);
  text-align: start;
  word-wrap: inherit;
}
