@import '../../../styles/variables.module.scss';

.checkout {
  width: 100%;
  padding: 4rem 8rem 8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  .closeIcon {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    cursor: pointer;
  }

  h2 {
    @include fonts($headline-4);
  }
}

.checkoutContainer {
  display: flex;
  gap: 2.4rem;

  img {
    max-width: 10rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
  }

  p {
    @include fonts($headline-9);
  }
}

.name {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
}

.checkoutContent {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-width: 46.5rem;
  width: 100%;
  justify-content: flex-start;
}

.dataBlock {
  display: flex;
  gap: 5.6rem;
  justify-content: flex-start;
  align-items: center;
}

.priceBlock {
  display: flex;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.coloredSquare {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0px 0.4rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 0.1rem solid $black;
}

.paramsBlock {
  @include fonts($headline-9);
  display: flex;
  gap: 1.6rem;
}

.quantityBlock {
  display: flex;
  gap: 1.2rem;
}

.quantityBtn {
  background-color: inherit;
}

.trash {
  display: flex;
  align-items: center;
  width: 2.4rem;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
}

.continueBtn {
  @include fonts($body-2);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: inherit;
  text-transform: uppercase;
}

.checkoutBtn {
  @include button(30rem, $black, $white, $accent-a-3, $accent-a-5);
}
