@import '../../../../../styles/variables.module.scss';
.radioOption {
  display: flex;
  flex-direction: column;
  row-gap: $l-spacing;
  justify-content: flex-start;
  }
.radioInput {
  appearance: none;
}
.radioLabel {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 0.7rem;
  align-items: center;
  cursor: pointer;
  text-align: start;
  @include label();
}
.deleteButton {
  background: transparent;
  display: flex;
  align-content: flex-start;

  &:hover {
    svg {
      path {

        stroke: $accent-a-3
      }
    }
  }
  &:active {
    svg {
      path {
        stroke: $accent-a-3
      }
    }
  }
}

