@import '../../styles/variables.module';
.forgotPasswordForm {
  margin-top: 20rem;
  margin-bottom: 29.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;

  p {
    color: $black;
    @include fonts($body-3);

    span {
      color: $black;
      @include fonts($link-1);
    }
  }
}
.titleBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;

  p {
    color: $black;
    @include fonts($headline-2)
  }
  span {
    color: $gray-10;
    @include fonts($body-2)
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;

  button {
    display: flex;
    width: 40rem;
    padding: 2.1rem 3.6rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: $black;

    span {
      color: $white;
      @include fonts($button)
    }
  }

  button:hover {
    background: $accent-a-3
  }

  button:active {
    background: $accent-a-5
  }

  button:disabled {
    background: $gray-90;
    cursor: not-allowed;
    span {
      color: $gray-50;
    }
  }
}


