$headerHeight: 9rem;
$max-width: 144rem;

$white-color: #ffffff;
$black-color: #040404;
$gray-80: #d7d7d7;
$accent_4: #3a7f66;
$header-text-color: #212a2f;
$second-color: #f8f8f8;
$active-color: #ad1f00;
$bg-color: #d9d9d9;
$section-bg-color: #f1f1f1;
$btn-bg-color: #6d6d6d;
