$headerHeight: 9rem;
$max-width: 144rem;
$form-width: 40.9rem;

$white-color: #ffffff;
$black-color: #040404;
$accent_4: #3a7f66;
$header-text-color: #212a2f;
$second-color: #f8f8f8;
$active-color: #ad1f00;
$bg-color: #d9d9d9;
$section-bg-color: #f1f1f1;
$btn-bg-color: #6d6d6d;
$transparent-30: rgba(169, 223, 203, 0.3);

$headline-1:(
  family: 'Fixel Display Extra Bold',
  size: 56px,
  line-height: 150%,
  letter-spacing: 4%,
  text-transform: uppercase,
);
$headline-2:(
  family: 'Fixel Display Medium',
  size: 32px,
  line-height: 120%,
  text-transform: uppercase,
);
$headline-3:(
  family: 'Fixel Display Bold',
  size: 24px,
  line-height: 120%,
  letter-spacing: 4%,
  text-transform: uppercase,
);
$headline-4:(
  family: 'Fixel Display Regular',
  size: 24px,
  line-height: 120%,
  text-transform: uppercase,
);
$headline-5:(
  family: 'Fixel Text Medium',
  size: 20px,
  line-height: 120%,
  text-transform: uppercase,
);
$headline-6:(
  family: 'Fixel Text Regular',
  size: 20px,
  line-height: 120%,
  text-transform: uppercase,
);
$headline-7:(
  family: 'Fixel Text Semibold',
  size: 20px,
  line-height: 120%,
  text-transform: uppercase,
);
$headline-8:(
  family: 'Fixel Text Medium',
  size: 18px,
  line-height: 110%,
  text-transform: uppercase,
);
$headline-9:(
  family: 'Fixel Display Regular',
  size: 16px,
  line-height: 110%,
  text-transform: uppercase,
);
$headline-10:(
  family: 'Fixel Display Regular',
  size: 14px,
  line-height: 110%,
  text-transform: uppercase,
);
$body-1:(
  family: 'Fixel Text Medium',
  size: 20px,
  line-height: 120%,
);
$body-2:(
  family: 'Fixel Text Regular',
  size: 18px,
  line-height: 140%,
);
$body-3:(
  family: 'Fixel Text Regular',
  size: 16px,
  line-height: 110%,
);
$menu-1:(
  family: 'Fixel Display Semibold',
  size: 16px,
  line-height: 110%,
  text-transform: uppercase,
);
$menu-2:(
  family: 'Fixel Display Regular',
  size: 12px,
  line-height: 110%,
  text-transform: uppercase,
);
$menu-3:(
  family: 'Fixel Display Regular',
  size: 12px,
  line-height: 110%,
);
$menu-4:(
  family: 'Fixel Display Medium',
  size: 12px,
  line-height: 110%,
  text-transform: uppercase,
);
$link-1:(
  family: 'Fixel Display Semibold',
  size: 16px,
  line-height: 110%,
);
$link-2:(
  family: 'Fixel Display Semibold',
  size: 12px,
  line-height: 110%,
);
$link-3:(
  family: 'Fixel Display Regular',
  size: 12px,
  line-height: 110%,
);
$button:(
  family: 'Fixel Display Semibold',
  size: 1.8rem,
  line-height: 140%,
  text-transform: uppercase,
);
$running-line:(
  family: 'Fixel Display Light',
  size: 20px,
  line-height: 120%,
  text-transform: uppercase,
);
$tab-bars:(
  family: 'Fixel Display Semibold',
  size: 16px,
  line-height: 140%,
  text-transform: uppercase,
);
$breadcrumb:(
  family: 'Fixel Display Regular',
  size: 16px,
  line-height: 140%,
);
$discount-price:(
  family: 'Fixel Display Medium',
  size: 16px,
  line-height: 140%,
  text-transform: uppercase,
);
$label:(
  family: 'Fixel Display Regular',
  size: 16px,
  line-height: 140%,
);
$input-text:(
  family: 'Fixel Display Regular',
  size: 16px,
  line-height: 140%,
);

$accent-a-95: #030a07;
$accent-a-9: #05140f;
$accent-a-85: #081e16;
$accent-a-8: #0a281d;
$accent-a-7: #103c2c;
$accent-a-6: #15503a;
$accent-a-5: #1a6449;
$accent-a-4: #3a7f66;
$accent-a-3: #5a9b83;
$accent-a-2: #79b6a0;
$accent-a-15: #89c4ae;
$accent-a-1: #99d2bd;
$accent-a-05: #a9dfcb;

$gray-10: #4a4a4a;
$gray-20: #5d5d5d;
$gray-30: #727272;
$gray-40: #868686;
$gray-50: #9b9b9b;
$gray-60: #afafaf;
$gray-70: #c3c3c3;
$gray-80: #d7d7d7;
$gray-90: #f5f5f5;

$black: #040404;
$white: #fafafa;
$transparent70-gray10: rgba(74, 74, 74, 0.7);
$transparent-30-a-05: rgba(169, 223, 203, 0.3);

$success: #2ab66a;
$error: #ea001b;
$warning: #ffd90f;
$additional-information: #589bff;
$light-pink: #dfc5c5;

@mixin fonts($font-map) {
  font-family: map-get($font-map, family);
  font-size: map-get($font-map, size);
  line-height: map-get($font-map, line-height);
  letter-spacing: map-get($font-map, letter-spacing);
  text-transform: map-get($font-map, text-transform);
}
@mixin button ($width,$background-color,$text-color,$hover-color, $active-color ) {
  display: flex;
  width: $width;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: $background-color;
  padding: 2.1rem 3.6rem;

  span {
    @include fonts($button);
    color: $text-color;
    text-align: center;
    position: relative;
    z-index: 10;
  }
  div {
    background: $hover-color;
    width: 4.8rem;
    height: 4.8rem;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    transition:  300ms ease-in;
    top: 0.4rem;
    left: ($width/2)-2.4rem;
  }
  &:hover {
    div {
      width: 1.1*$width;
      height: 1.1*$width;
      background: $hover-color;
      opacity: 1;
      position: absolute;
      top: -($width/2)+2.4rem;
      left: -5%;
    }
  }
  &:active {
    div {
      width: 1.1*$width;
      height: 1.1*$width;
      background: $active-color;
      opacity: 1;
      position: absolute;
      top: -($width/2)+2.4rem;
      left: -5%;
    }
  }
  &:disabled {
    border: 1px solid $gray-40;
    background: $gray-90;
    cursor: not-allowed;
    span {
      color: $gray-50;
    }
  }
}
@mixin divider() {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  align-self: stretch;

  div {
    width: 19.3rem;
    height: 0.1rem;
    background: $gray-80;
  }
  span {
    color: $black;
    @include fonts($body-3);
  }
}

@mixin form() {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto 17rem;
  width: $form-width;
  gap: 2.4rem;

  p {
    color: $black;
    @include fonts($body-3);

    span {
      color: $black;
      @include fonts($link-1);
    }
  }
}

@mixin form-expected-error {
  width: $form-width;
  display: flex;
  padding: 1.2rem;
  align-items: center;
  align-self: stretch;
  background: $light-pink;

  span {
    @include fonts($body-3);
    color: $error;
  }
}

@mixin form-title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;

  p {
    @include fonts($headline-2);
    color: $black-color;
  }

  span {
    @include fonts($body-2);
    color: $gray-10;
  }
}
