.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  margin: 4rem auto 17rem;
  width: 40rem;
}
.loginForm p {
  color: #000;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem; /* 114.286% */
}
.loginForm p span {
  color: #000;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6rem; /* 114.286% */
  letter-spacing: -0.0003rem;
}

.titleBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  color: #000000;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 62.5% */
}
.titleBlock span {
  color: var(--gray-gray-10, #4A4A4A);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 111.111% */
}

.registerError {
  width: 100%;
  display: flex;
  padding: 1.2rem;
  align-items: center;
  gap: 1rem;
  background: var(--error, #DFC5C5);
}
.registerError span {
  font-family: Fixel, sans-serif;
  color: #BB3B34;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 142.857% */
}

.conformationBlock {
  display: flex;
  padding: 0.8rem;
  align-items: center;
  gap: 1rem;
  background: var(--success, #2AB66A);
}
.conformationBlock span {
  color: var(--gray-gray-90, #F5F5F5);
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 142.857% */
}

.inputsBlock {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

.input {
  display: flex;
  width: 40rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}
.input label {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  align-self: stretch;
}
.input label span {
  color: var(--gray-gray-10, #4A4A4A);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input input {
  display: flex;
  padding: 1.6rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  border: 1px solid var(--gray-gray-30, #727272);
  background: #FFF;
  color: var(--gray-gray-40, #868686);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.error {
  color: var(--error, #EA001B);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.socialButtonsBlock {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  align-self: stretch;
}
.divider div {
  width: 19.3rem;
  height: 0.1rem;
  background: #EEE;
}
.divider span {
  color: #000;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem; /* 150% */
}

.button {
  background-color: #040404;
  display: flex;
  width: 100%;
  padding: 2.1rem 3.6rem;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.button span {
  color: #FFF;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 111.111% */
  text-transform: uppercase;
}

.button:hover {
  background: var(--accent-a-3, #5A9B83);
}

.button:active {
  background: var(--accent-a-5, #1A6449);
}

.button:disabled {
  background: var(--gray-300, #D0D5DD);
}

.googleButton {
  height: 4rem;
}
.googleButton button {
  display: flex;
  width: 40rem;
  padding: 1rem 1.6rem;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  border: 1px solid var(--gray-300, #D0D5DD);
  background: var(--White, #FFF);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}
.googleButton button span {
  color: var(--gray-700, #344054);
  font-family: Fixel-Text, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem; /* 150% */
}

/*# sourceMappingURL=LoginForm.module.css.map */
