@import '../../styles/variables.module';
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto 17rem;
  width: 40rem;
  gap: 2.4rem;

  p {
    color: $black;
    @include apply-font-properties($body-3);

    span {
      color: $black;
      @include apply-font-properties($link-1);
    }
  }
}
.titleBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  @include apply-font-properties($headline-2);
  color: $black-color;

  span {
    @include apply-font-properties($body-2);
    color: $gray-10;
    }
}
.loginError {
  width: 40rem;
  display: flex;
  padding: 1.2rem;
  align-items: center;
  align-self: stretch;

  background: var(--error, #DFC5C5);

  span {
    @include apply-font-properties($body-3);
    color: $error;
  }
}
.inputsBlock {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

.checkboxBlock {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid $transparent70-gray10;
    background: $white;
    cursor: pointer;
  }
  input[type=checkbox]:checked {
    background: $white;
    border: 1px solid $transparent70-gray10;
  }
  input[type=checkbox]:checked:after {
    content: '';
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDNMNC41IDguNUwyIDYiIHN0cm9rZT0iIzFBNjQ0OSIgc3Ryb2tlLXdpZHRoPSIxLjY2NjYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  label {
    @include apply-font-properties($menu-3);
    color: $accent-a-95;
  }
}

.error {
  color: var(--error, #EA001B);

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.forgotPassword {
  @include apply-font-properties($link-2);
  color: $gray-10;
}
.socialButtonsBlock {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}
.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  align-self: stretch;

  div {
    width: 19.3rem;
    height: 0.1rem;
    background: #EEE;
  }

  span {
    color: $black;
    @include apply-font-properties($body-3);
  }
}

.button {
  background-color: #040404;
  display: flex;
  width: 100%;
  padding: 2.1rem 3.6rem;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;

  span {
    @include apply-font-properties($headline-8);
    color: $white;
    text-transform: uppercase;
  }
}
.button:hover {
  background: $accent-a-3
}
.button:active {
  background: $accent-a-5
}
.button:disabled {
  background: $gray-90;
  cursor: not-allowed;
  span {
    color: $gray-50;
  }
}
.googleButton {
  height: 4rem;
  button {
    display: flex;
    width: 40rem;
    padding: 1rem 1.6rem;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    border: 1px solid var(--gray-300, #D0D5DD);
    background: var(--White, #FFF);
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);

    span {
      color: var(--gray-700, #344054);
      @include apply-font-properties($button);
    }
  }

}
