.itemPreviewCard {
  position: relative;
  max-width: 41rem;
  width: 100%;
  max-height: 57.8rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.itemPreviewCard:hover {
  cursor: pointer;
}
.itemPreviewCard:hover .itemPreviewCard__description,
.itemPreviewCard:hover .itemPreviewCard__price {
  text-decoration: underline;
  color: #03281c;
}
.itemPreviewCard:hover .itemPreviewCard__description span,
.itemPreviewCard:hover .itemPreviewCard__price span {
  color: #03281c;
}
.itemPreviewCard:active {
  cursor: pointer;
}
.itemPreviewCard:active .itemPreviewCard__description,
.itemPreviewCard:active .itemPreviewCard__price {
  text-decoration: underline;
  color: #3a7f66;
}
.itemPreviewCard:active .itemPreviewCard__description span,
.itemPreviewCard:active .itemPreviewCard__price span {
  color: #3a7f66;
}

.disabledItemPreviewCard {
  pointer-events: none;
}

.disabledItemPreviewCard__image {
  opacity: 0.5;
}

.itemPreviewCard__image {
  width: 100%;
  height: 100%;
  height: 50rem;
}
.itemPreviewCard__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itemPreviewCard__status {
  cursor: pointer;
  padding: 0.8rem 1rem;
  background: #000000;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  position: absolute;
  top: 1.6rem;
  left: -0.3rem;
}
.itemPreviewCard__status:hover {
  background: #5a9b83;
}
.itemPreviewCard__status:active {
  background: #1a6449;
}

.itemPreviewCard__statusText {
  color: white;
  font-size: 18px;
  line-height: 110%;
  text-transform: uppercase;
  word-wrap: break-word;
}

.itemPreviewCard__heart {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
}

.itemPreviewCard__description {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  text-align: start;
  padding: 0.4rem 0.8rem;
  margin-top: 0.8rem;
}
.itemPreviewCard__description span {
  font-size: 18px;
  line-height: 140%;
}
.itemPreviewCard__description .itemPreviewCard__price {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  font-size: 18px;
  line-height: 110%;
  text-transform: uppercase;
}

@media (min-width: 581px) and (max-width: 1000px) {
  .itemPreviewCard {
    max-width: 34.5rem;
    max-height: 48rem;
  }
  .itemPreviewCard__image {
    max-height: 42rem;
    width: 100%;
  }
  .itemPreviewCard__description span {
    font-size: 16px;
    line-height: 140%;
  }
  .itemPreviewCard__status {
    padding: 0.7rem 1rem;
  }
  .itemPreviewCard__statusText {
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
  }
}
@media (max-width: 580px) {
  .itemPreviewCard {
    max-width: 15.6rem;
    max-height: 26rem;
    height: 100%;
  }
  .itemPreviewCard__image {
    max-height: 18.4rem;
    max-width: 15.6rem;
  }
  .itemPreviewCard__description {
    margin-top: 1rem;
  }
  .itemPreviewCard__description span {
    font-size: 14px;
    line-height: 120%;
  }
  .itemPreviewCard__description p:last-child {
    font-size: 14px;
    line-height: 120%;
  }
  .itemPreviewCard__status {
    padding: 0.6rem 1rem;
    top: 0.8rem;
  }
  .itemPreviewCard__heart {
    width: 1.8rem;
    height: 1.8rem;
    top: 0.8rem;
    right: 0.8rem;
  }
  .itemPreviewCard__statusText {
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
  }
}

/*# sourceMappingURL=ItemPreviewCard.module.css.map */
