@import '../../styles/variables.module.scss';
.itemPreviewCard {
  position: relative;
  max-width: 41rem;
  min-width: 35rem;
  width: 100%;
  max-height: 57.8rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &:hover {
    cursor: pointer;
    .itemPreviewCard__description,
    .itemPreviewCard__price {
      span {
        color: $accent-a-7;
      }
      text-decoration: underline;
      color: $accent-a-7;
    }
  }
  &:active {
    cursor: pointer;
    .itemPreviewCard__description,
    .itemPreviewCard__price {
      span {
        color: $accent-a-4;
      }
      text-decoration: underline;
      color: $accent-a-4;
    }
  }
}

.disabledItemPreviewCard {
  pointer-events: none;
}
.disabledItemPreviewCard__image {
  opacity: 0.5;
  // background: linear-gradient(0deg, rgba(245, 245, 245, 0.30) 0%, rgba(245, 245, 245, 0.30) 100%), lightgray -66.288px -276.028px / 127.435% 156.726% no-repeat;
}
.itemPreviewCard__image {
  width: 100%;
  height: 50rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.itemPreviewCard__status {
  cursor: pointer;
  padding: 0.8rem 1rem;
  background: $black;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  position: absolute;
  top: 1.6rem;
  left: -0.3rem;

  &:hover {
    background: $accent-a-3;
  }
  &:active {
    background: $accent-a-5;
  }
}
.itemPreviewCard__statusText {
  color: white;
  @include fonts($headline-8);
  word-wrap: break-word;
}
.itemPreviewCard__heart {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
}
.itemPreviewCard__description {
  text-align: start;
  span {
    padding-top: 0.8rem;
    @include fonts($body-2);
  }
  p:last-child {
    padding-top: 0.8rem;
    @include fonts($headline-8);
  }
}

@media (min-width: 581px) and (max-width: 768px) {
}
@media (max-width: 580px) {
}
