@import "../../../styles/variables.module";
.userDeliveryAddressForm {
  width: 41rem;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  column-gap: 2.4rem;
}
.deliveryTitle {
  @include fonts($headline-8);
  text-align: start;
  margin-bottom: 2.4rem;
}
  .deliveryBlock {
    width: 73.5rem;
    display: flex;
    column-gap: 2.4rem;
  }
  .deliveryBlockColumn {
    display: flex;
    width: 30rem;
    flex-direction: column;
    flex-grow: 1;
    .blockLabel {
      @include fonts($headline-6);
      text-align: start;
      margin-bottom: 1.8rem;
    };
  }

  .button {
    @include button(24rem, $black, $white, $accent-a-3, $accent-a-5);
  }
  .inputContainer {
    border: 1px solid red;
  }
  .phoneInput {
    border: 1px solid red;
  }
  .phoneLabel {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    align-self: stretch;
    color: $accent-a-95;
    margin-bottom: 0.8rem;
    @include fonts($label);

    span {
      color: $error
    }
  }
  .phoneInputContainer {
    height: 4.8rem ;
    border-radius: 0;
    border: 1px solid $gray-30;
    background: $white;
    display: flex;
    align-items: center;
  }
  .phoneInputInput {
    padding-left: 6rem !important;
    border: 1px solid $white !important;
    background: $white !important;
    @include fonts($input-text);
    font-size: 1.6rem !important;
    &:hover {
      background: $white !important;
    }
  }
  .phoneInputButton {
    background: $white !important;
    border: none !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    &:hover {
      background: $white !important;
    }
  }
  .phoneInputDropdown {
    text-align: start;
  }
  .error {
    color: var(--error, #EA001B);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
  }
.radioWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 0.8rem;
}
.labelText {
  @include fonts($label);
  text-align: start;
  word-wrap: inherit;
  margin-left: 0.8rem;
}
.label {
  display: flex;
  flex-direction: row;
  width: 30rem;
  @include fonts($body-3);
  text-align: start;
  word-wrap: inherit;
  margin-left: 0.8rem;
}
.input {
  appearance: none;
  color: $black;
}
.radioButton {
  background: transparent;

  &:hover {
    div {
      svg {
        path {
          fill: $accent-a-3
        }
      }
    }
  }
  &:active {
    div {
      svg {
        path {
          fill: $accent-a-5
        }
      }
    }
  }
}
.radioBlock {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
