@import '../../../styles/variables.module.scss';

.inputContainer {
  max-width: $max-width;
  min-width: $min-width;
  width: 100%;
  padding: 1.2rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $black;

  svg {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.newsLetterBlock__inputSection {
  width: 100%;
  display: flex;
  gap: 1.6rem;

  input {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    padding: 0.5rem 0;
    @include fonts($body-3);
    border: none;
    background-color: inherit;
  }
}

.closeIcon {
  background-color: transparent;
  height: 3.2rem;
}
