@import '../../../styles/variables.module';
.bavovnaBlock {
  display: flex;
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4rem;
  padding: 0 8rem;
}
.bavovnaBlock__titleBox {
  max-width: 90rem;
  width: 100%;
}
.bavovnaBlock__title2 {
  color: $black;
  text-align: center;
  margin-block: 0;
  @include headline-2();
}
.bavovnaBlock__content {
  max-width: 72.8rem;
  width: 100%;
  color: $black;
 @include body-2();
}
.bavovnaBlock__button {
  margin: 0 auto;
  text-decoration: none;
  @include button(19.5rem);
  @include buttonWhite();
}
@media (min-width: 581px) and (max-width: 1000px) {
  .bavovnaBlock {
    padding: 0 3.2rem;
  }
  .bavovnaBlock__button {
    @include button(22.4rem);
  }
}
@media (max-width: 580px) {
  .bavovnaBlock {
    padding: 0 1.6rem;
  }
  .bavovnaBlock__title2 {
    @include tablet-headline-2();
    font-weight: 500;
  }
  .bavovnaBlock__content {
   @include body-3();
  }
  .bavovnaBlock__button {
    width: 18rem;
    height: 4.8rem;
    padding: 1.2rem;
    span {
      @include button-s();
    }
  }
}
