@import '../../../styles/variables.module.scss';

.headerContent__banner {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: center;
  align-items: flex-start;
  background: $black;
  z-index: 100;
  p {
    color: $white;
    @include headline-11();
  }
}
.headerContent__header {
  max-width: $max-width;
  width: 100%;
  padding: 1.6rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $black;
  position: relative;
  z-index: 99;
}
.headerContent__headerBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.headerContent__headerNavBar {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  a {
    @include link();
  }
  span {
    @include menu-2();
  }
}
.headerContent__headerMenuBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  .headerContent__fixedHeaderMenuBar,
  .headerContent__floatingHeaderMenuBar {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  .headerContent__linkBlock {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    @include menu-4();
    @include link();
  }
  .headerContent__button {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    background: transparent;
    @include menu-4();
    &:hover {
      color: $accent-a-3;
      span {
        text-decoration: underline;
        color: $accent-a-3;
      }
      svg {
        path {
          stroke: $accent-a-3;
        }
      }
    }
    &:active {
      color: $accent-a-5;
      span {
        color: $accent-a-5;
      }
      div {
        svg {
          path {
            stroke: $accent-a-5;
          }
        }
      }
    }
    &:focus {
      border: 1px solid $accent-a-3;
    }
  }
}
.headerContent__headerSearch {
  display: flex;
  align-items: center;
  position: relative;
  background: transparent;
  input {
    background: transparent;
    border: none;
    outline: none;
    height: 2.4rem;
  }
}
.headerContent__logo {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.headerContent__accountName {
  margin-right: 1rem;
  width: 6rem;
}
.mobileButton {
  display: none;
}
.headerContent__wishlist,
.headerContent__mobileHeaderBlock {
  display: none;
}
@media (min-width: 581px) and (max-width: 950px) {
  .headerContent__header {
    height: 7.8rem;
    padding: 1.2rem 3.2rem;
    align-items: flex-end;
  }

  .headerContent__logo {
    top: 50%;
  }
}

@media (max-width: 580px) {
  .headerContent__header {
    align-items: center;
    position: relative;
  }
  .headerContent__logo {
    left: 0;
    transform: translate(12%, -40%);
    -webkit-transform: translate(12%, -40%);
    -ms-transform: translate(12%, -40%);
  }
  .mobileButton {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    display: block;
    z-index: 100;
    background-color: inherit;
  }
  .headerContent__header {
    height: 4.8rem;
    padding: 1.2rem;
    width: 100%;
  }
  .headerContent__headerBlock {
    justify-content: flex-end;
  }
  .headerContent__wishlist {
    display: flex;
  }
  .headerContent__fixedHeaderMenuBar {
    margin-right: 3.8rem;
  }
  .headerContent__headerNavBar,
  .headerContent__floatingHeaderMenuBar {
    position: absolute;
    z-index: 100;
    transition: left 0.5s ease-out;
  }
  .headerContent__headerNavBar {
    flex-direction: column;
    top: 8.8rem;
    gap: 1.6rem;
    left: -100%;
    width: 100%;
  }
  .headerContent__floatingHeaderMenuBar {
    flex-direction: column-reverse;
    top: 28.8rem;
    left: -100%;
    width: 100%;
    svg {
      justify-content: center;
      width: 2.4rem;
      height: 2.4rem;
    }
  }
  .headerContent__headerNavBar span,
  .headerContent__accountName,
  .headerContent__wishlist {
    @include headline-9();
  }
  .headerContent_cart {
    @include menu-2();
  }
  .headerContent__mobileHeaderBlock {
    display: block;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 100%;
    top: 7.8rem;
    bottom: 0;
    background-color: $gray-90;
    transition: right 0.5s ease-out;
  }
  .active {
    right: 0;
  }
  .active .headerContent__headerNavBar,
  .active .headerContent__headerMenuBar .headerContent__floatingHeaderMenuBar {
    left: 2rem;
    align-items: flex-start;
  }
}
