@import '../../../styles/variables.module.scss';

.banner {
  display: flex;
  width: 100%;
  // position: relative;
  // left: 50%;
  // transform: translateX(-50%);
  padding: 1rem;
  justify-content: center;
  align-items: flex-start;
  background: $black;

  span {
    color: $white;
    @include fonts($headline-11);
  }
}
.header {
  max-width: $max-width;
  // min-width: 128rem;
  width: 100%;
  padding: 1.6rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $black;
}

.headerNavBar {
  display: flex;
  gap: 1.6rem;
  span {
    @include fonts($menu-2);
  }
}
.headerMenuBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  div {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    @include fonts($menu-4);

    button {
      background: transparent;
      @include fonts($menu-4);
    }
  }
  button {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    background: transparent;
    @include fonts($menu-4);

    &:hover {
      color: $accent-a-3;
      span {
        text-decoration: underline;
        color: $accent-a-3;
      }
      div {
        svg {
          path {
            stroke: $accent-a-3;
          }
        }
      }
    }
    &:active {
      color: $accent-a-5;
      span {
        color: $accent-a-5;
      }
      div {
        svg {
          path {
            stroke: $accent-a-5;
          }
        }
      }
    }
  }
}

.headerSearch {
  display: flex;
  align-items: center;
  position: relative;

  input {
    background: transparent;
    border: none;
    outline: none;
    height: 2.4rem;
  }
}
.logo {
  position: relative;
  top: -3.5rem;
  margin-bottom: -1.5rem;
}
