@import '../../../styles/variables.module.scss';

.headerContent__banner {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: center;
  align-items: flex-start;
  background: $black;
  z-index: 100;
  p {
    color: $white;
    @include fonts($headline-11);
  }
}
.headerContent__header {
  max-width: $max-width;
  width: 100%;
  padding: 1.6rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $black;
  position: relative;
  z-index: 99;
}
.headerContent__headerBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.headerContent__headerNavBar {
  display: flex;
  gap: 1.6rem;
  a {
    @include link();
  }
  span {
    @include fonts($menu-2);
  }
}
.headerContent__headerMenuBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  .headerContent__linkBlock {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    @include fonts($menu-4);
    @include link();
  }
  .headerContent__button {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    background: transparent;
    @include fonts($menu-4);

    &:hover {
      color: $accent-a-3;
      span {
        text-decoration: underline;
        color: $accent-a-3;
      }
      div {
        svg {
          path {
            stroke: $accent-a-3;
          }
        }
      }
    }
    &:active {
      color: $accent-a-5;
      span {
        color: $accent-a-5;
      }
      div {
        svg {
          path {
            stroke: $accent-a-5;
          }
        }
      }
    }
  }
}
.headerContent__headerSearch {
  display: flex;
  align-items: center;
  position: relative;
  background: transparent;
  input {
    background: transparent;
    border: none;
    outline: none;
    height: 2.4rem;
  }
}
.headerContent__logo {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.headerContent__accountName {
  width: 6rem;
}
.mobileButton {
  display: none;
}

@media (min-width: 581px) and (max-width: 768px) {
  .headerContent__header {
    height: 7.8rem;
    padding: 1.2rem 3.2rem;
    align-items: flex-end;
  }

  .headerContent__logo {
    top: 50%;
  }
}

@media (max-width: 580px) {
  .mobileButton {
    display: block;
    z-index: 100;
    background-color: inherit;
  }
  .headerContent__header {
    height: 4.8rem;
    width: 100%;
  }
  .headerContent__headerBlock {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 3.2rem;
    padding: 2.4rem;
    position: fixed;
    left: -100%;
    right: 0;
    top: 7.7rem;
    width: 15rem;
    background-color: $gray-90;
    transition: left 1s ease-out;
  }
  .headerContent__headerNavBar,
  .headerContent__headerMenuBar {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
  }
  .headerContent__headerMenuBar {
    flex-direction: column-reverse;
  }
}

.active {
  left: 0;
}
