.headerContent__banner {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: center;
  align-items: flex-start;
  background: #000000;
}
.headerContent__banner p {
  color: #fafafa;
  font-size: 8px;
  line-height: 110%;
  text-transform: uppercase;
}

.headerContent__header {
  max-width: 144rem;
  width: 100%;
  padding: 1.6rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  position: relative;
}

.headerContent__headerNavBar {
  display: flex;
  gap: 1.6rem;
}
.headerContent__headerNavBar a {
  text-decoration: none;
  transition: color 0.3s;
}
.headerContent__headerNavBar a:hover {
  color: #5a9b83;
  text-decoration: underline;
}
.headerContent__headerNavBar a:focus {
  color: #081e16;
  text-decoration: underline;
}
.headerContent__headerNavBar a:active {
  color: #1a6449;
  text-decoration: underline;
}
.headerContent__headerNavBar a:disabled {
  color: #c3c3c3;
  pointer-events: none;
}
.headerContent__headerNavBar span {
  font-size: 14px;
  line-height: 110%;
  text-transform: uppercase;
}

.headerContent__headerMenuBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.headerContent__headerMenuBar .headerContent__linkBlock {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 12px;
  line-height: 110%;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
}
.headerContent__headerMenuBar .headerContent__linkBlock:hover {
  color: #5a9b83;
  text-decoration: underline;
}
.headerContent__headerMenuBar .headerContent__linkBlock:focus {
  color: #081e16;
  text-decoration: underline;
}
.headerContent__headerMenuBar .headerContent__linkBlock:active {
  color: #1a6449;
  text-decoration: underline;
}
.headerContent__headerMenuBar .headerContent__linkBlock:disabled {
  color: #c3c3c3;
  pointer-events: none;
}
.headerContent__headerMenuBar .headerContent__button {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background: transparent;
  font-size: 12px;
  line-height: 110%;
  text-transform: uppercase;
}
.headerContent__headerMenuBar .headerContent__button:hover {
  color: #5a9b83;
}
.headerContent__headerMenuBar .headerContent__button:hover span {
  text-decoration: underline;
  color: #5a9b83;
}
.headerContent__headerMenuBar .headerContent__button:hover div svg path {
  stroke: #5a9b83;
}
.headerContent__headerMenuBar .headerContent__button:active {
  color: #1a6449;
}
.headerContent__headerMenuBar .headerContent__button:active span {
  color: #1a6449;
}
.headerContent__headerMenuBar .headerContent__button:active div svg path {
  stroke: #1a6449;
}

.headerContent__headerSearch {
  display: flex;
  align-items: center;
  position: relative;
  background: transparent;
}
.headerContent__headerSearch input {
  background: transparent;
  border: none;
  outline: none;
  height: 2.4rem;
}

.headerContent__logo {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerContent__accountName {
  width: 6rem;
}

/*# sourceMappingURL=HeaderContent.module.css.map */
