@import "../../../../styles/variables.module";
.novaInternationalAddressDeliveryForm {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.button {
  @include buttons(24rem, $black, $white, $accent-a-3, $accent-a-5);
}
