@import '../../../../styles/variables.module';
.userPaymentMethodsList {
  box-sizing: border-box;
  width: 52.1rem;
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
}
.userPaymentMethodsList__title {
  text-align: start;
  @include headline_3();
}
.userPaymentMethodsList__block {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}
.userPaymentMethodsList__radioWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 0.8rem;
}
.userPaymentMethodsList__radioButton {
  background: transparent;
  &:hover {
    div {
      svg {
        path {
          fill: $accent-a-3
        }
      }
    }
  }
  &:active {
    div {
      svg {
        path {
          fill: $accent-a-5
        }
      }
    }
  }
}
.userPaymentMethodsList__label {
  display: flex;
  flex-direction: row;
  width: 30rem;
 @include body-3();
  text-align: start;
  word-wrap: inherit;
  margin-left: 0.8rem;
}
.userPaymentMethodsList__buttonLeft {
  @include button($small);
  @include buttonTransparent();
  justify-content: flex-start;
  padding-left: 0;
}
