@import '../../../../styles/variables.module';
.userPaymentMethodsList {
  box-sizing: border-box;
  width: 52.1rem;
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
}
.block {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}
.newsLetterBlock__title2 {
  text-align: start;
  @include fonts($headline-3);
}
.radioWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 0.8rem;
}
.radioButton {
  background: transparent;

  &:hover {
    div {
      svg {
        path {
          fill: $accent-a-3
        }
      }
    }
  }
  &:active {
    div {
      svg {
        path {
          fill: $accent-a-5
        }
      }
    }
  }
}
.label {
  display: flex;
  flex-direction: row;
  width: 30rem;
  @include fonts($body-3);
  text-align: start;
  word-wrap: inherit;
  margin-left: 0.8rem;
}
.buttonLeft {
  @include button($small);
  @include buttonTransparent();
  justify-content: flex-start;
  padding-left: 0;
}
