@import "../../styles/variables.module";
.navigation {
  display: flex;
}
.sidebar {
  width: 19.2rem;
  margin-right: 13.3rem;
  p {
    @include fonts($headline-4);
    padding: 0.6rem 1.6rem 2.4rem;
  };
  .menuItem {
  width: 100%;
  cursor: pointer;
  padding: 1.6rem;
  text-align: start;
  margin-bottom: 0.8rem;
  @include fonts($menu-1)
  }
}
.active {
  width: 100%;
  cursor: pointer;
  padding: 1.6rem;
  text-align: start;
  margin-bottom: 0.8rem;
  @include fonts($menu-1);
  background-color: $transparent-30-a-05;
}
.navigationContentSide {
  display: flex;
  flex-direction: row;
}

