.npInternationalDeliveryFormCheckout {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  div {
    div {
      textarea {
        min-width: 52.1rem;
        min-height: 3rem;
      }
    }
  }
}

