.custom-select {
  &__control {
    border: 0.1rem solid #727272 !important;
    border-radius: 0 !important;
    font-size: 1.6rem !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    color: #040404 !important;
    cursor: pointer !important;

    &:active {
      border: 0.1rem solid #727272 !important;
    }
  }

  &__indicator-separtor {
    width: 0 !important;
  }
}

.css-1u9des2-indicatorSeparator {
  display: none !important;
}
