@import '../../styles/variables.module.scss';

.card {
  background-color: $second-color;
  height: 100%;
  display: flex;
  gap: 24px;
  padding: 32px 80px;
}

.imgs {
  max-height: 100%;
  width: 20%;
}

.imgsList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
}

.mainImg,
.about {
  width: 40%;
}

.imgs img {
  width: 100%;
  object-fit: scale-down;
}

.mainImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buyForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buyFormTitle {
  font-size: 24px;
  text-transform: uppercase;
  padding-bottom: 24px;
}

.buyFormPrice {
  font-size: 20px;
  padding-bottom: 32px;
}

.size {
  text-align: start;
  font-size: 18px;

  & span {
    display: inline-block;
  }
}

.formBag {
  display: flex;
  padding-top: 32px;
  width: 100%;

  & button {
    max-width: 410px;
    width: 100%;
    padding: 12px 0;
    background-color: $black-color;
    color: $white-color;
  }
}
