.bavovnaBlock {
  border: chartreuse 0.1rem solid;
  display: flex;
  width: 143.4rem;
  padding: 10rem 0;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  font-family: Fixel, sans-serif;
}
.title {
  width: 90rem;
  text-align: center;
  color: #000;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.content {
  width: 72.8rem;
  color: #000;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.0144rem;
}
.button {
  display: flex;
  width: 19.5rem;
  padding: 2.1rem 3.6rem;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  border: 1px solid var(--black, #040404);

  span {
    color: var(--black, #040404);
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 2.4rem */
    text-transform: uppercase;
  }
}
