@import '../../../../styles/variables.module.scss';
.deliveryOptionsSection {
  box-sizing: border-box;
  width: 52.1rem;
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
}
.deliveryOptionsSection__title {
  @include fonts($headline-3);
  text-align: start;
}
.deliveryOptionsSection__radioBlock {
  display: flex;
  flex-direction: row;
  column-gap: 2.4rem;
}
.deliveryOptionsSection__radioWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 0.8rem;
}
.deliveryOptionsSection__label {
  display: flex;
  flex-direction: row;
  width: 19.3rem;
  @include fonts($headline-9);
  text-align: start;
  word-wrap: inherit;
  margin-left: 0.8rem;
}
.deliveryOptionsSection__radioButton {
  background: transparent;
  &:hover {
    div {
      svg {
        path {
          fill: $accent-a-3
        }
      }
    }
  }
  &:active {
    div {
      svg {
        path {
          fill: $accent-a-5
        }
      }
    }
  }
  &:disabled {
    div {
      svg {
        path {
          fill: $gray-70;
        }
      }
    }
  }
}
.deliveryOptionsSection__navigationButtonsSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.deliveryOptionsSection__buttonLeft {
  @include button($small);
  @include buttonTransparent();
  justify-content: flex-start;
  padding-left: 0;
}
.deliveryOptionsSection__buttonRight {
  @include button($small);
  @include buttonTransparent();
  justify-content: flex-end;
  padding-right: 0;
  div {
    transform: rotate(180deg);
  }
}
