.container {
  display: flex;
  align-items: center;
  min-width: 36rem;
  width: 100%;
  background-color: #000000;
  z-index: 1000;
}
.container a:hover {
  color: #5a9b83;
}

.footer {
  display: flex;
  flex-direction: column;
  max-width: 144rem;
  width: 100%;
  color: #fafafa;
  padding: 7rem 8rem 5rem;
  margin: auto;
  z-index: 10000;
}

.footerTop {
  height: 25.8rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.footerTopLeft {
  display: flex;
  width: 75%;
  gap: 1.7rem;
  text-align: start;
  justify-content: space-between;
}
.footerTopLeft h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 110%;
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 2rem;
}

.footerContact,
.footerShop,
.footerHelp {
  flex-basis: 33.3%;
}

.footerList {
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  text-transform: uppercase;
}

.footerTopRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footerTopRight .footerLogo {
  width: 21.2rem;
  height: 1.5rem;
  background: transparent;
  border: none;
}
.footerTopRight .footerLogo div svg path {
  fill: #fafafa !important;
}
.footerTopRight .footerLogo:hover {
  cursor: pointer;
}

.socialList {
  display: flex;
  gap: 0.8rem;
}

.socialListItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.6rem;
  width: 3.6rem;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.1rem;
}

.footerBottomLeft {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.footerBottomItem {
  display: flex;
  flex-basis: 33.3%;
  font-weight: 500;
  font-size: 12px;
  line-height: 110%;
  text-transform: uppercase;
  opacity: 0.48;
}

.footerBottomCookies {
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
}

.footerBottomRight {
  display: flex;
  align-items: center;
}

@media (min-width: 581px) and (max-width: 768px) {
  .footer {
    padding: 3.2rem;
    padding-bottom: 5rem;
  }
  .footerTop {
    height: 100%;
    flex-direction: column-reverse;
  }
  .footerList {
    gap: 1.2rem;
  }
  .footerTopLeft {
    width: 100%;
  }
  .footerTopLeft h3 {
    padding-bottom: 1.2rem;
  }
  .footerTopRight {
    flex-direction: row;
    margin-bottom: 2.4rem;
  }
  .footerBottom {
    gap: 2.4rem;
  }
  .footerBottomLeft {
    gap: 0.5rem;
  }
  .footerBottomItem {
    flex-basis: content;
  }
}
@media (max-width: 580px) {
  .footer {
    position: relative;
    padding: 2.4rem 1.6rem;
    padding-top: 6rem;
  }
  .footerTop {
    display: block;
    height: 100%;
    padding-bottom: 1.6rem;
  }
  .footerTop h3 {
    padding-bottom: 1.6rem;
  }
  .footerTopRight .footerLogo {
    width: 15.4rem;
    height: 1.1rem;
    position: absolute;
    top: 2.2rem;
  }
  .footerTopLeft {
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 1.6rem;
  }
  .footerList {
    flex-direction: row;
    gap: 0.8rem;
    flex-basis: content;
    flex-wrap: wrap;
  }
  .footerBottom {
    flex-direction: column;
    align-items: flex-start;
  }
  .footerBottomLeft {
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 0.8rem;
  }
}

/*# sourceMappingURL=Footer.module.css.map */
