.alsoBoughtTitle {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  text-align: start;
}
.alsoBoughtList {
  width: 100%;
  display: flex;
  gap: 2.4rem;
  & li{
    flex: 1 0 0;
  }
}
@media (min-width: 581px) and (max-width: 768px){
  .alsoBoughtList{
    gap: 1.6rem;
  }
}
@media (max-width: 580px){
  .alsoBoughtList{
    gap: 1rem;
  }
}

