@import "../../../styles/variables.module";
.desktopBreadcrumbsNavigation__navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: $xl-spacing;
  text-align: start;
  @include breadcrumb();
}
