@import "src/styles/variables.module";
.userDeliveryMethodsList {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.radioWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 0.8rem;
}
.radioButton {
  background: transparent;

  &:hover {
    div {
      svg {
        path {
          fill: $accent-a-3
        }
      }
    }
  }
  &:active {
    div {
      svg {
        path {
          fill: $accent-a-5
        }
      }
    }
  }
}
.label {
  display: flex;
  flex-direction: row;
  width: 30rem;
  @include fonts($body-3);
  text-align: start;
  word-wrap: inherit;
  margin-left: 0.8rem;
}
