@import '../../styles/variables.module.scss';

.helpPage {
  display: flex;
  gap: 15.9rem;
  width: 100%;
  padding: 4rem 8rem 8rem;
}

.helpAside {
  padding-top: 7.4rem;
}

.helpDescription {
  flex: auto;
  padding-top: 1.3rem;
  text-align: start;
}
