@import "../../../styles/variables.module";
.newArrivalsBlock {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 128rem;
  width: 100%;
  height: 66.2rem;
}
.newArrivalsBlock__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  span {
    @include fonts($headline-2);
  }
}
.newArrivalsBlock__arrows {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  .button {
    @include button(4rem);
    @include buttonTransparent();
    svg {
        width: 4rem!important;
      }
  }
}



