.newArrivalsBlock {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 128rem;
  width: 100%;
  height: 66.2rem;
}

.newArrivalsBlock__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.newArrivalsBlock__title span {
  font-family: "Fixel Display Medium";
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
}

.newArrivalsBlock__arrows {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.newArrivalsBlock__arrows .newCollectionBlock__button {
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  width: 4rem;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  background: transparent;
  border: none;
}
.newArrivalsBlock__arrows .newCollectionBlock__button span {
  font-family: "Fixel Display Semibold";
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.newArrivalsBlock__arrows .newCollectionBlock__button::before {
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 0.4rem;
  left: -0.4rem;
}
.newArrivalsBlock__arrows .newCollectionBlock__button::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 2.5rem;
  left: 1.7rem;
}
.newArrivalsBlock__arrows .newCollectionBlock__button:hover::before {
  content: "";
  width: 4.4rem;
  height: 4.4rem;
  opacity: 1;
  position: absolute;
  top: 0.2rem;
  left: -1rem;
}
.newArrivalsBlock__arrows .newCollectionBlock__button:active::after {
  content: "";
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: 0.2rem;
  left: -1.1rem;
}
.newArrivalsBlock__arrows .newCollectionBlock__button:disabled {
  border-color: #868686;
  background: #c3c3c3;
  pointer-events: none;
  cursor: not-allowed;
}
.newArrivalsBlock__arrows .newCollectionBlock__button:disabled span {
  color: #9b9b9b;
}
.newArrivalsBlock__arrows .newCollectionBlock__button svg path {
  fill: #000000;
}
.newArrivalsBlock__arrows .newCollectionBlock__button span {
  font-family: "Fixel Display Semibold";
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}
.newArrivalsBlock__arrows .newCollectionBlock__button:hover svg path {
  fill: #3a7f66;
}
.newArrivalsBlock__arrows .newCollectionBlock__button:hover span {
  font-family: "Fixel Display Semibold";
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  color: #3a7f66;
}
.newArrivalsBlock__arrows .newCollectionBlock__button:active svg path {
  fill: #15503a;
}
.newArrivalsBlock__arrows .newCollectionBlock__button:active span {
  font-family: "Fixel Display Semibold";
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  color: #15503a;
}
.newArrivalsBlock__arrows .newCollectionBlock__button:disabled {
  background: transparent;
}
.newArrivalsBlock__arrows .newCollectionBlock__button:disabled svg path {
  fill: #868686;
}
.newArrivalsBlock__arrows .newCollectionBlock__button:disabled span {
  font-family: "Fixel Display Semibold";
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  color: #868686;
}
.newArrivalsBlock__arrows .buttonRight {
  transform: rotate(180deg);
}

/*# sourceMappingURL=NewArrivalsBlock.module.css.map */
