@import '../../../styles/variables.module';
.newArrivalsBlock {
  position: relative;
  padding: 0 8rem;
  width: 100%;
}
.newArrivalsBlock__titleSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.newArrivalsBlock__title2 {
  @include headline-2();
}
.newArrivalsBlock__arrowSection {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  .newArrivalsBlock__button {
    @include button(4rem);
    @include buttonTransparent();
  }
  .buttonRight {
    transform: rotate(180deg);
  }
}
.newArrivalsSwiper {
  text-align: -webkit-center;
}
@media (min-width: 950px) and (max-width: 1279px) {
  .newArrivalsBlock {
    padding: 0 3.2rem;
  }
  .newArrivalsBlock__titleSection {
    margin-bottom: 2.4rem;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .newArrivalsBlock {
    padding: 0 3.2rem;
  }
  .newArrivalsBlock__titleSection {
    margin-bottom: 2.4rem;
  }
}
@media (max-width: 767px) {
  .newArrivalsBlock {
    padding: 0 1.6rem;
  }
  .newArrivalsBlock__titleSection {
    margin-bottom: 2.4rem;
  }
  .newArrivalsBlock__title2 {
    @include tablet-headline-2();
  }
  .newArrivalsBlock__arrowSection {
    display: none;
  }
}
