@import '../../styles/variables.module';
.productCardInCart {
  width: 100%;
  display: flex;
  flex-direction: row;
  .productCardInCart__imageBlock {
    width: 14rem;
    height: 14rem;
    overflow: hidden;
    img {
      max-width: 100%;
      height: auto;
      object-fit: fill;
    }
  }
  .productCardInCart__infoBlock {
    width: 58.6rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: $xl-spacing;
    padding-top: $xl-spacing;
    padding-bottom: $xl-spacing;
    .productCardInCart__namePriceBlock {
      display: flex;
      flex-direction: column;
      row-gap: $l-spacing;
      .productCardInCart__name {
        width: 19rem;
        height: 3.5rem;
        @include headline-9();
        }
        .productCardInCart__price {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          @include headline-8();
        }
        .productCardInCart__discount {
          display: flex;
          flex-direction: row;
          gap: 1.6rem;
          @include headline-8();
          span:first-child {
            text-decoration: line-through;
            color: $gray-30
          }
          span:last-child {
            color: $error;
          }
      }
    }
    .productCardInCart__sizeColorQuantityBlock {
      @include headline-9();
      width: 51.7rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
          .productCardInCart__sizeBlock {
            width: 7rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: $l-spacing;
          }
          .productCardInCart__colorBlock {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 1.6rem;
            .productCardInCart__colorRectangle {
              width: 1.5rem;
              height: 1.5rem;
              justify-content: center;
              align-items: center;
              border: $black 1px solid;
            }
          }
          .productCardInCart__quantityBlock {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 1.6rem;
            .productCardInCart__quantity {
              display: flex;
              align-items: center;
              flex-direction: row;
              gap: 1.2rem;
              p {
                text-align: center;
                width: 2rem;
              }
              .productCardInCart__button {
                background: transparent;
              }
            }
        }
      }
  }
  .productCardInCart__buttonBlock {
    margin-left: auto;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .productCardInCart__buttonDelete {
      width: 2.4rem;
      align-self: end;
      background: transparent;
    }
  }
}
.productCardInCart[type='1'] {
  width: 100%;
  column-gap: $xl-spacing;
  .productCardInCart__imageBlock {
    width: 11rem;
    height: 11rem;
  }
  .productCardInCart__infoBlock {
    width: auto;
    height: auto;
    padding: 0;
    .productCardInCart__namePriceBlock {
      row-gap: $m-spacing;
    }
    .productCardInCart__sizeColorQuantityBlock {
      width: 20.4rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: $xs-spacing;
      .productCardInCart__sizeBlock {
        grid-column: 1/-1;
      }
      .productCardInCart__quantityBlock {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 1.6rem;
        .productCardInCart__quantity {
          .productCardInCart__button {
            display: none;
          }
        }
      }
    }
  }
  .productCardInCart__buttonBlock {
    margin-left: auto;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .productCardInCart__buttonDelete {
      div {
        svg {
          path {
            stroke: $gray-30;
          }
        }
      }
      width: 2.4rem;
      align-self: end;
      background: transparent;
    }
  }
}
.productCardInCart[type='2'] {
  .productCardInCart__imageBlock {
    width: 10rem;
    height: 10rem;
  }
  .productCardInCart__infoBlock {
    width: 63.5rem;
    height: 10rem;
    .productCardInCart__namePriceBlock {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .productCardInCart__price {
        width: 19rem;
      }
      .productCardInCart__discount {
        display: flex;
        flex-direction: row;
        gap: 1.6rem;
        @include headline-8();
        span:first-child {
          display: none;
        }
        span:last-child {
          color: $black;
        }
      }
    }
    .productCardInCart__sizeColorQuantityBlock {
      column-gap: $xl-spacing;
      justify-content: unset;
      .productCardInCart__quantityBlock {
        .productCardInCart__quantity {
          .productCardInCart__button {
            display: none;
          }
        }
      }
    }
  }
  .productCardInCart__buttonBlock {
    display: none;
  }
}
@media (min-width: 581px) and (max-width: 768px) {
  .productCardInCart[type='2'] {
    width: 43.3rem;
    margin-bottom: 2.4rem;
    .productCardInCart__imageBlock {
      width: 16.3rem;
      height: 13.4rem;
    }
    .productCardInCart__infoBlock {
      align-self: flex-start;
      width: 25.4rem;
      gap: $s-spacing;
      .productCardInCart__priceSizeColorQuantityBlock {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        .productCardInCart__price {
          width: 11.8rem;
          display: flex;
          flex-direction: column;
        }
        .productCardInCart__sizeColorQuantityBlock {
          flex-direction: column;
          gap: $s-spacing;
          .productCardInCart__block {
            flex-direction: column;
            row-gap: $s-spacing;
            align-items: start;
            .productCardInCart__sizeBlock {
              align-items: start;
            }
            .productCardInCart__fakeDiv {

              //display: none;
            }
            .productCardInCart__colorBlock {
              width: fit-content;
              justify-content: flex-start;
            }
            .productCardInCart__quantityBlock {
              width: fit-content;
              margin-left: 0;
              .productCardInCart__quantity {
                .productCardInCart__button {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    .productCardInCart__buttonBlock {
      display: none;
    }
  }
}



