.productCardInCart {
  width: 84.5rem;
  height: 14.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.productCardInCart .productCardInCart__imageBlock {
  width: 14rem;
  height: 13.8rem;
  overflow: hidden;
}
.productCardInCart .productCardInCart__imageBlock img {
  max-width: 100%;
  height: auto;
  object-fit: fill;
}
.productCardInCart .productCardInCart__infoBlock {
  width: 73.6rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  margin-left: 2.4rem;
  margin-top: 2.4rem;
}
.productCardInCart .productCardInCart__infoBlock .productCardInCart__name {
  font-family: "Fixel Display Regular";
  font-size: 16px;
  line-height: 110%;
  text-transform: uppercase;
}
.productCardInCart .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock {
  width: 51.7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.productCardInCart .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__price {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  font-family: "Fixel Text Medium";
  font-size: 18px;
  line-height: 110%;
  text-transform: uppercase;
}
.productCardInCart .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__discount {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  font-family: "Fixel Text Medium";
  font-size: 18px;
  line-height: 110%;
  text-transform: uppercase;
}
.productCardInCart .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__discount span:first-child {
  text-decoration: line-through;
  color: #727272;
}
.productCardInCart .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__discount span:last-child {
  color: #ea001b;
}
.productCardInCart .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__sizeColorQuantityBlock {
  font-family: "Fixel Display Regular";
  font-size: 16px;
  line-height: 110%;
  text-transform: uppercase;
  width: 51.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.productCardInCart .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__sizeColorQuantityBlock .productCardInCart__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.productCardInCart .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__sizeColorQuantityBlock .productCardInCart__block .productCardInCart__sizeBlock {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}
.productCardInCart .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__sizeColorQuantityBlock .productCardInCart__block .productCardInCart__fakeDiv {
  width: 5.6rem;
}
.productCardInCart .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__sizeColorQuantityBlock .productCardInCart__block .productCardInCart__colorBlock {
  width: 14.2rem;
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}
.productCardInCart .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__sizeColorQuantityBlock .productCardInCart__block .productCardInCart__colorBlock .productCardInCart__colorRectangle {
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  border: #000000 1px solid;
}
.productCardInCart .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__sizeColorQuantityBlock .productCardInCart__block .productCardInCart__quantityBlock {
  width: 18.4rem;
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}
.productCardInCart .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__sizeColorQuantityBlock .productCardInCart__block .productCardInCart__quantityBlock .productCardInCart__quantity {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}
.productCardInCart .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__sizeColorQuantityBlock .productCardInCart__block .productCardInCart__quantityBlock .productCardInCart__quantity .productCardInCart__button {
  background: transparent;
}
.productCardInCart .productCardInCart__buttonBlock {
  margin-top: 8.7rem;
  background: transparent;
}
.productCardInCart .productCardInCart__buttonBlock:hover svg path {
  stroke: #5a9b83;
}
.productCardInCart .productCardInCart__buttonBlock:active svg path {
  stroke: #1a6449;
}
.productCardInCart .productCardInCart__buttonBlock:disabled {
  cursor: not-allowed;
}
.productCardInCart .productCardInCart__buttonBlock:disabled svg path {
  stroke: rgba(74, 74, 74, 0.7);
}

.productCardInCart[type="1"] {
  width: 100%;
  height: fit-content;
  column-gap: 1.7rem;
  justify-content: flex-start;
}
.productCardInCart[type="1"] .productCardInCart__imageBlock {
  width: 10rem;
  height: 10rem;
}
.productCardInCart[type="1"] .productCardInCart__infoBlock {
  display: flex;
  width: 24.6rem;
  height: fit-content;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}
.productCardInCart[type="1"] .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock {
  width: 24.6rem;
  gap: 1.2rem;
}
.productCardInCart[type="1"] .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__sizeColorQuantityBlock {
  font-family: "Fixel Display Regular";
  font-size: 16px;
  line-height: 110%;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.productCardInCart[type="1"] .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__sizeColorQuantityBlock .productCardInCart__block {
  align-items: flex-start;
}
.productCardInCart[type="1"] .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__sizeColorQuantityBlock .productCardInCart__block .productCardInCart__fakeDiv {
  display: none;
}
.productCardInCart[type="1"] .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__sizeColorQuantityBlock .productCardInCart__block .productCardInCart__colorBlock {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-right: 0.8rem;
}
.productCardInCart[type="1"] .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__sizeColorQuantityBlock .productCardInCart__block .productCardInCart__quantityBlock {
  width: fit-content;
}
.productCardInCart[type="1"] .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__sizeColorQuantityBlock .productCardInCart__block .productCardInCart__quantityBlock .productCardInCart__quantity .productCardInCart__button {
  display: none;
}
.productCardInCart[type="1"] .productCardInCart__buttonBlock {
  width: 4.5rem;
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.productCardInCart[type="1"] .productCardInCart__buttonBlock svg {
  width: 1.6rem;
  height: 1.6rem;
}

.productCardInCart__productCardInCart[type="2"] {
  height: fit-content;
  align-items: center;
  margin-bottom: 2.4rem;
}
.productCardInCart__productCardInCart[type="2"] .productCardInCart__imageBlock {
  width: 10rem;
  height: 10rem;
}
.productCardInCart__productCardInCart[type="2"] .productCardInCart__infoBlock {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.productCardInCart__productCardInCart[type="2"] .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock {
  width: 61.5rem;
  flex-direction: row-reverse;
  gap: 0;
  justify-content: space-between;
}
.productCardInCart__productCardInCart[type="2"] .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__price {
  width: 11.8rem;
  display: flex;
  gap: 0;
  justify-content: flex-end;
}
.productCardInCart__productCardInCart[type="2"] .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__sizeColorQuantityBlock {
  width: fit-content;
  gap: 3.2rem;
}
.productCardInCart__productCardInCart[type="2"] .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__sizeColorQuantityBlock .productCardInCart__block .productCardInCart__fakeDiv {
  display: none;
}
.productCardInCart__productCardInCart[type="2"] .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__sizeColorQuantityBlock .productCardInCart__block .productCardInCart__colorBlock {
  width: fit-content;
}
.productCardInCart__productCardInCart[type="2"] .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__sizeColorQuantityBlock .productCardInCart__block .productCardInCart__quantityBlock {
  width: fit-content;
  margin-left: 4.8rem;
}
.productCardInCart__productCardInCart[type="2"] .productCardInCart__infoBlock .productCardInCart__priceSizeColorQuantityBlock .productCardInCart__sizeColorQuantityBlock .productCardInCart__block .productCardInCart__quantityBlock .productCardInCart__quantity .productCardInCart__button {
  display: none;
}
.productCardInCart__productCardInCart[type="2"] .productCardInCart__buttonBlock {
  display: none;
}

/*# sourceMappingURL=ProductCardInCart.module.css.map */
