@import '../../styles/variables.module';
.productCardInCart {
  width: 84.5rem;
  height: 14.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .imageBlock {
    width: 14rem;
    height: 13.8rem;
    overflow: hidden;
    img {
      max-width: 100%;
      height: auto;
      object-fit: fill;
    }
  }
  .infoBlock {
    width: 73.6rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    margin-left: 2.4rem;
    margin-top: 2.4rem;
    .name {
      @include fonts($headline-9);
    }
    .priceSizeColorQuantityBlock {
      width: 51.7rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .price {
        display: flex;
        flex-direction: row;
        gap: 1.6rem;
        @include fonts($headline-8);
      }
      .discount {
        display: flex;
        flex-direction: row;
        gap: 1.6rem;
        @include fonts($headline-8);
        span:first-child {
          text-decoration: line-through;
          color: $gray-30
        }
        span:last-child {
          color: $error;
        }
      }
      .sizeColorQuantityBlock {
        @include fonts($headline-9);
        width: 51.7rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .block {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          .sizeBlock {
            display: flex;
            flex-direction: row;
            gap: 1.6rem;
          }
          .fakeDiv {
            width: 5.6rem;
          }
          .colorBlock {
            width: 14.2rem;
            display: flex;
            flex-direction: row;
            gap: 1.6rem;
            .colorRectangle {
              width: 1.5rem;
              height: 1.5rem;
              justify-content: center;
              align-items: center;
              border: $black 1px solid;
            }
          }
          .quantityBlock {
            width: 18.4rem;
            display: flex;
            flex-direction: row;
            gap: 1.6rem;
            .quantity {
              display: flex;
              flex-direction: row;
              gap: 1.2rem;
              .newCollectionBlock__button {
                background: transparent;
              }
            }
          }
        }
      }
    }
  }
  .buttonBlock {
    margin-top: 8.7rem;
    background: transparent;
    &:hover {
      svg {
        path {
          stroke: $accent-a-3
        }
      }
    }
    &:active {
      svg {
        path {
          stroke: $accent-a-5
        }
      }
    }
    &:disabled {
      cursor: not-allowed;
      svg {
        path {
          stroke: $transparent70-gray10
        }
      }
    }
  }
}
.productCardInCart[type='1'] {
  width: 100%;
  height: fit-content;
  column-gap: 1.7rem;
  justify-content: flex-start;
  .imageBlock {
    width: 10rem;
    height: 10rem;
  }
  .infoBlock {
    display: flex;;
    width: 24.6rem;
    height: fit-content;
    //row-gap: 1.2rem;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    .priceSizeColorQuantityBlock {
      width: 24.6rem;
      gap: 1.2rem;
      .sizeColorQuantityBlock {
        @include fonts($headline-9);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .block {
          align-items: flex-start;
          .fakeDiv {
            display: none;
          }
          .colorBlock {
            display: flex;
            align-items: center;
            width: fit-content;
            margin-right: 0.8rem;
          }
          .quantityBlock {
            width: fit-content;
            .quantity {
              .newCollectionBlock__button {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .buttonBlock {
    width: 4.5rem;
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    svg {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}
.productCardInCart[type='2'] {
  height: fit-content;
  align-items: center;
  margin-bottom: 2.4rem;
  .imageBlock {
    width: 10rem;
    height: 10rem;
  }
  .infoBlock {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    .priceSizeColorQuantityBlock {
      width: 61.5rem;
      flex-direction: row-reverse;
      gap: 0;
      justify-content: space-between;
      .price {
        width: 11.8rem;
        display: flex;
        gap:0;
        justify-content: flex-end;
      }
      .sizeColorQuantityBlock {
        width: fit-content;
        gap: 3.2rem;
        .block {
          .fakeDiv {
            display: none;
          }
          .colorBlock {
            width: fit-content;
          }
          .quantityBlock {
            width: fit-content;
            margin-left: 4.8rem;
            .quantity {
              .newCollectionBlock__button {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .buttonBlock {
    display: none;
  }
}




