.productCardInCart {
  width: 84.5rem;
  height: 14.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.productCardInCart .imageBlock {
  width: 14rem;
  height: 13.8rem;
  overflow: hidden;
}
.productCardInCart .imageBlock img {
  max-width: 100%;
  height: auto;
  object-fit: fill;
}
.productCardInCart .infoBlock {
  width: 73.6rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  margin-left: 2.4rem;
  margin-top: 2.4rem;
}
.productCardInCart .infoBlock .name {
  font-family: "Fixel Display Regular";
  font-size: 16px;
  line-height: 110%;
  text-transform: uppercase;
}
.productCardInCart .infoBlock .priceSizeColorQuantityBlock {
  width: 51.7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.productCardInCart .infoBlock .priceSizeColorQuantityBlock .price {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  font-family: "Fixel Text Medium";
  font-size: 18px;
  line-height: 110%;
  text-transform: uppercase;
}
.productCardInCart .infoBlock .priceSizeColorQuantityBlock .discount {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  font-family: "Fixel Text Medium";
  font-size: 18px;
  line-height: 110%;
  text-transform: uppercase;
}
.productCardInCart .infoBlock .priceSizeColorQuantityBlock .discount span:first-child {
  text-decoration: line-through;
  color: #727272;
}
.productCardInCart .infoBlock .priceSizeColorQuantityBlock .discount span:last-child {
  color: #ea001b;
}
.productCardInCart .infoBlock .priceSizeColorQuantityBlock .sizeColorQuantityBlock {
  font-family: "Fixel Display Regular";
  font-size: 16px;
  line-height: 110%;
  text-transform: uppercase;
  width: 51.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.productCardInCart .infoBlock .priceSizeColorQuantityBlock .sizeColorQuantityBlock .block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.productCardInCart .infoBlock .priceSizeColorQuantityBlock .sizeColorQuantityBlock .block .sizeBlock {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}
.productCardInCart .infoBlock .priceSizeColorQuantityBlock .sizeColorQuantityBlock .block .fakeDiv {
  width: 5.6rem;
}
.productCardInCart .infoBlock .priceSizeColorQuantityBlock .sizeColorQuantityBlock .block .colorBlock {
  width: 14.2rem;
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}
.productCardInCart .infoBlock .priceSizeColorQuantityBlock .sizeColorQuantityBlock .block .colorBlock .colorRectangle {
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  border: #000000 1px solid;
}
.productCardInCart .infoBlock .priceSizeColorQuantityBlock .sizeColorQuantityBlock .block .quantityBlock {
  width: 18.4rem;
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}
.productCardInCart .infoBlock .priceSizeColorQuantityBlock .sizeColorQuantityBlock .block .quantityBlock .quantity {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}
.productCardInCart .infoBlock .priceSizeColorQuantityBlock .sizeColorQuantityBlock .block .quantityBlock .quantity .newCollectionBlock__button {
  background: transparent;
}
.productCardInCart .buttonBlock {
  margin-top: 8.7rem;
  background: transparent;
}
.productCardInCart .buttonBlock:hover svg path {
  stroke: #5a9b83;
}
.productCardInCart .buttonBlock:active svg path {
  stroke: #1a6449;
}
.productCardInCart .buttonBlock:disabled {
  cursor: not-allowed;
}
.productCardInCart .buttonBlock:disabled svg path {
  stroke: rgba(74, 74, 74, 0.7);
}

.productCardInCart[type="1"] {
  width: 100%;
  height: fit-content;
  column-gap: 1.7rem;
  justify-content: flex-start;
}
.productCardInCart[type="1"] .imageBlock {
  width: 10rem;
  height: 10rem;
}
.productCardInCart[type="1"] .infoBlock {
  display: flex;
  width: 24.6rem;
  height: fit-content;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}
.productCardInCart[type="1"] .infoBlock .priceSizeColorQuantityBlock {
  width: 24.6rem;
  gap: 1.2rem;
}
.productCardInCart[type="1"] .infoBlock .priceSizeColorQuantityBlock .sizeColorQuantityBlock {
  font-family: "Fixel Display Regular";
  font-size: 16px;
  line-height: 110%;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.productCardInCart[type="1"] .infoBlock .priceSizeColorQuantityBlock .sizeColorQuantityBlock .block {
  align-items: flex-start;
}
.productCardInCart[type="1"] .infoBlock .priceSizeColorQuantityBlock .sizeColorQuantityBlock .block .fakeDiv {
  display: none;
}
.productCardInCart[type="1"] .infoBlock .priceSizeColorQuantityBlock .sizeColorQuantityBlock .block .colorBlock {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-right: 0.8rem;
}
.productCardInCart[type="1"] .infoBlock .priceSizeColorQuantityBlock .sizeColorQuantityBlock .block .quantityBlock {
  width: fit-content;
}
.productCardInCart[type="1"] .infoBlock .priceSizeColorQuantityBlock .sizeColorQuantityBlock .block .quantityBlock .quantity .newCollectionBlock__button {
  display: none;
}
.productCardInCart[type="1"] .buttonBlock {
  width: 4.5rem;
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.productCardInCart[type="1"] .buttonBlock svg {
  width: 1.6rem;
  height: 1.6rem;
}

.productCardInCart[type="2"] {
  height: fit-content;
  align-items: center;
  margin-bottom: 2.4rem;
}
.productCardInCart[type="2"] .imageBlock {
  width: 10rem;
  height: 10rem;
}
.productCardInCart[type="2"] .infoBlock {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.productCardInCart[type="2"] .infoBlock .priceSizeColorQuantityBlock {
  width: 61.5rem;
  flex-direction: row-reverse;
  gap: 0;
  justify-content: space-between;
}
.productCardInCart[type="2"] .infoBlock .priceSizeColorQuantityBlock .price {
  width: 11.8rem;
  display: flex;
  gap: 0;
  justify-content: flex-end;
}
.productCardInCart[type="2"] .infoBlock .priceSizeColorQuantityBlock .sizeColorQuantityBlock {
  width: fit-content;
  gap: 3.2rem;
}
.productCardInCart[type="2"] .infoBlock .priceSizeColorQuantityBlock .sizeColorQuantityBlock .block .fakeDiv {
  display: none;
}
.productCardInCart[type="2"] .infoBlock .priceSizeColorQuantityBlock .sizeColorQuantityBlock .block .colorBlock {
  width: fit-content;
}
.productCardInCart[type="2"] .infoBlock .priceSizeColorQuantityBlock .sizeColorQuantityBlock .block .quantityBlock {
  width: fit-content;
  margin-left: 4.8rem;
}
.productCardInCart[type="2"] .infoBlock .priceSizeColorQuantityBlock .sizeColorQuantityBlock .block .quantityBlock .quantity .newCollectionBlock__button {
  display: none;
}
.productCardInCart[type="2"] .buttonBlock {
  display: none;
}

/*# sourceMappingURL=ProductCardInCart.module.css.map */
