@import '../../styles/variables.module.scss';

.header {
  position: fixed;
  background-color: $white-color;
  height: $headerHeight;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* font-size: calc(10px + 2vmin); */
  color: $header-text-color;
  padding: 0 40px;
  border-bottom: 1px solid #e2e2e4;
  z-index: 10;
}

.headerNav {
  display: flex;
  gap: 16px;
  text-transform: uppercase;
}

.headerMenuBar {
  display: flex;
  align-items: center;
  gap: 16px;
}

.headerMenuBar a {
  display: flex;
  align-items: center;
}

.headerMenuBar a span {
  transition: color 0.3s ease;
}

.headerMenuBar a:hover span {
  color: $active-color;
}

.headerSearch {
  display: flex;
  align-items: center;
  position: relative;
}

.headerSearch input {
  border: none;
  outline: none;
  height: 24px;
}

.headerSearch span {
  position: absolute;
  right: 1px;
}

.headerLang {
  display: flex;
  align-items: center;
}
