@import '../../styles/variables.module.scss';

.container {
  background: $white;
  display: flex;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 9rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 0.1rem solid $gray-80;
  z-index: 9999;
}
.logo{
  @include fonts($button);
}
.banner {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: flex-start;
  background: $black;

  span {
    color: $white;
    @include fonts($headline-11)
  }
}
.header {
  width: 100%;
  height: 100%;
  padding: 1.6rem 8rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $max-width;
  color: $black;
}

.headerNavBar {
  display: flex;
  gap: 1.6rem;
  span {
    @include fonts($menu-2);
  }
}
.headerMenuBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  div {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    @include fonts($menu-4);

    button {
        background: transparent;
        @include fonts($menu-4)
    }
  }
  button {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    background:  transparent;
    @include fonts($menu-4);

    &:hover {
      color: $accent-a-3;
      span {
        text-decoration: underline;
        color: $accent-a-3;
      }
      div {
        svg {
          path {
            stroke: $accent-a-3;
          }
        }
      }
    }
    &:active {
      color: $accent-a-5;
      span {
        color: $accent-a-5;
      }
      div {
        svg {
          path {
            stroke: $accent-a-5;
          }
        }
      }
    }
  }
}

.headerSearch {
  display: flex;
  align-items: center;
  position: relative;

  input {
    background: transparent;
    border: none;
    outline: none;
    height: 2.4rem;
  }
}
