.sliderBlock {
  position: relative;
  width: 100%;
}

.sliderBlock__titleSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.sliderBlock__title2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
}

.sliderBlock__arrowSection {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.sliderBlock__arrowSection .sliderBlock__button {
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  width: 4rem;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  background: transparent;
  border: none;
}
.sliderBlock__arrowSection .sliderBlock__button span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.sliderBlock__arrowSection .sliderBlock__button::before {
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 0.4rem;
  left: -0.4rem;
}
.sliderBlock__arrowSection .sliderBlock__button::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 2.5rem;
  left: 1.7rem;
}
.sliderBlock__arrowSection .sliderBlock__button:hover::before {
  content: "";
  width: 4.4rem;
  height: 4.4rem;
  opacity: 1;
  position: absolute;
  top: 0.2rem;
  left: -1rem;
}
.sliderBlock__arrowSection .sliderBlock__button:active::after {
  content: "";
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: 0.2rem;
  left: -1.1rem;
}
.sliderBlock__arrowSection .sliderBlock__button:focus {
  border: 3px solid #5a9b83;
}
.sliderBlock__arrowSection .sliderBlock__button:disabled {
  border-color: #868686;
  background: #c3c3c3;
  pointer-events: none;
  cursor: not-allowed;
}
.sliderBlock__arrowSection .sliderBlock__button:disabled span {
  color: #9b9b9b;
}
.sliderBlock__arrowSection .sliderBlock__button svg path {
  fill: #000000;
}
.sliderBlock__arrowSection .sliderBlock__button span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}
.sliderBlock__arrowSection .sliderBlock__button:hover svg path {
  fill: #3a7f66;
}
.sliderBlock__arrowSection .sliderBlock__button:hover span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #3a7f66;
}
.sliderBlock__arrowSection .sliderBlock__button:focus svg path {
  fill: #081e16;
}
.sliderBlock__arrowSection .sliderBlock__button:focus span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #081e16;
}
.sliderBlock__arrowSection .sliderBlock__button:disabled {
  background: transparent;
}
.sliderBlock__arrowSection .sliderBlock__button:disabled svg path {
  fill: #868686;
}
.sliderBlock__arrowSection .sliderBlock__button:disabled span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #868686;
}
.sliderBlock__arrowSection .sliderBlock__buttonRight {
  transform: rotate(180deg);
}

.sliderBlock__Swiper {
  text-align: -webkit-center;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .sliderBlock__titleSection {
    margin-bottom: 2.4rem;
  }
}
@media (max-width: 767px) {
  .sliderBlock__titleSection {
    margin-bottom: 2.4rem;
  }
  .sliderBlock__title2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
  }
  .sliderBlock__arrowSection {
    display: none;
  }
}

/*# sourceMappingURL=SliderBlock.module.css.map */
