@import '../../styles/variables.module';

.checkbox {
  display: inline-flex;
}

.checkboxInput {
  display: none;

  &:checked + .checkboxLabel::before {
    background-color: $black-color;
  }
}

.checkboxLabel {
  position: relative;
  display: inline-flex;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;

  &::before {
    content: '';
    align-self: flex-start;
    flex: 0 0 1.6rem;
    height: 1.6rem;
    border: 1px solid $black-color;
    margin: 0rem 0.8rem 0rem 0rem;
    cursor: pointer;
    transition: all 0.5s ease 0s;
  }
}
