@import "../../styles/variables.module";

.breadcrumbsNavigation {
  margin-top: 2.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .navigationBlock__navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: $xl-spacing;
    text-align: start;
    @include breadcrumb();

    .navigationBlock__navigation__buttonHome {
      background: transparent;
      display: none;
      align-items: center;
      @include headline-9();
      svg {
        transform: rotate(-90deg);
      }
    }
    .navigationBlock__navigationHome {
      display: flex;
      flex-direction: row;
      align-items: start;
      svg {
        display: none;
        transform: rotate(-90deg);
      }
    }
    .navigationBlock__navigationAccount {
      display: flex;
    }
  }
}
