@import "../../styles/variables.module";
 .breadcrumbsNavigation__navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: $xl-spacing;
    text-align: start;
    @include breadcrumb();

    .breadcrumbsNavigation__navigationHome {
      display: flex;
      flex-direction: row;
      align-items: start;

      svg {
        display: none;
        transform: rotate(-90deg);
      }
    }

    .breadcrumbsNavigation__navigationAccount {
      display: flex;
    }
 }
