.forgotPasswordForm {
  width: 41rem;
  min-height: 100vh;
  margin: 9.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}
.forgotPasswordForm .forgotPasswordForm__titleBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.forgotPasswordForm .forgotPasswordForm__titleBlock p:first-child {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
}
.forgotPasswordForm .forgotPasswordForm__titleBlock p:last-child {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #4a4a4a;
}
.forgotPasswordForm .forgotPasswordForm__successMessagesBlock {
  display: flex;
  align-self: stretch;
  background: #a9dfcb;
}
.forgotPasswordForm .forgotPasswordForm__successMessagesBlock p {
  width: 100%;
  text-align: start;
  padding: 1.2rem;
  color: #2ab66a;
}
.forgotPasswordForm .forgotPasswordForm__errorMessagesBlock {
  display: flex;
  align-self: stretch;
  background: #dfc5c5;
}
.forgotPasswordForm .forgotPasswordForm__errorMessagesBlock p {
  width: 100%;
  text-align: start;
  padding: 1.2rem;
  color: #ea001b;
}
.forgotPasswordForm .forgotPasswordForm__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.forgotPasswordForm .forgotPasswordForm__form p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.forgotPasswordForm .forgotPasswordForm__form p span {
  font-weight: 600;
  font-size: 16px;
  line-height: 110%;
}
.forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button {
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  width: 41rem;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  background: #000000;
}
.forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button::before {
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 0.4rem;
  left: 18.1rem;
}
.forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 2.5rem;
  left: 20.2rem;
}
.forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button:hover::before {
  content: "";
  width: 45.1rem;
  height: 45.1rem;
  opacity: 1;
  position: absolute;
  top: -20.15rem;
  left: -1rem;
}
.forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button:active::after {
  content: "";
  width: 45.1rem;
  height: 45.1rem;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: -20.15rem;
  left: -1.1rem;
}
.forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button:focus {
  border: 3px solid #5a9b83;
}
.forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button:disabled {
  border-color: #868686;
  background: #c3c3c3;
  pointer-events: none;
  cursor: not-allowed;
}
.forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button:disabled span {
  color: #9b9b9b;
}
.forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #fafafa;
}
.forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button::before {
  background: #5a9b83;
}
.forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button::after {
  background: #1a6449;
}
.forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button:hover::before {
  background: #5a9b83;
}
.forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button:active::after {
  border: 1px solid #5a9b83;
}
.forgotPasswordForm p {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.forgotPasswordForm p span {
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  line-height: 110%;
}

@media (min-width: 581px) and (max-width: 1120px) {
  .forgotPasswordForm {
    width: 41rem;
    margin: 12rem auto;
  }
  .forgotPasswordForm__titleBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
  }
  .forgotPasswordForm__titleBlock p:first-child {
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    text-transform: uppercase;
  }
  .forgotPasswordForm__titleBlock p:last-child {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #4a4a4a;
  }
  .forgotPasswordForm__form {
    width: 100%;
  }
  .forgotPasswordForm__form .forgotPasswordForm__button {
    display: flex;
    flex-direction: row;
    column-gap: 0.4rem;
    width: 41rem;
    height: 5.6rem;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 1.2rem 1.2rem;
  }
  .forgotPasswordForm__form .forgotPasswordForm__button span {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-align: center;
    position: relative;
  }
  .forgotPasswordForm__form .forgotPasswordForm__button::before {
    content: "";
    width: 4.8rem;
    height: 4.8rem;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    transition: 300ms ease-in;
    top: 0.4rem;
    left: 18.1rem;
  }
  .forgotPasswordForm__form .forgotPasswordForm__button::after {
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    transition: 300ms ease-in;
    top: 2.5rem;
    left: 20.2rem;
  }
  .forgotPasswordForm__form .forgotPasswordForm__button:hover::before {
    content: "";
    width: 45.1rem;
    height: 45.1rem;
    opacity: 1;
    position: absolute;
    top: -20.15rem;
    left: -1rem;
  }
  .forgotPasswordForm__form .forgotPasswordForm__button:active::after {
    content: "";
    width: 45.1rem;
    height: 45.1rem;
    border-radius: 50%;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: -20.15rem;
    left: -1.1rem;
  }
  .forgotPasswordForm__form .forgotPasswordForm__button:focus {
    border: 3px solid #5a9b83;
  }
  .forgotPasswordForm__form .forgotPasswordForm__button:disabled {
    border-color: #868686;
    background: #c3c3c3;
    pointer-events: none;
    cursor: not-allowed;
  }
  .forgotPasswordForm__form .forgotPasswordForm__button:disabled span {
    color: #9b9b9b;
  }
}
@media (max-width: 580px) {
  .forgotPasswordForm {
    width: 32.8rem;
  }
  .forgotPasswordForm .forgotPasswordForm__titleBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
  }
  .forgotPasswordForm .forgotPasswordForm__titleBlock p:first-child {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
  }
  .forgotPasswordForm .forgotPasswordForm__titleBlock p:last-child {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #4a4a4a;
  }
  .forgotPasswordForm .forgotPasswordForm__form {
    width: 100%;
  }
  .forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button {
    display: flex;
    flex-direction: row;
    column-gap: 0.4rem;
    width: 32.8rem;
    height: 5.6rem;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 1.2rem 1.2rem;
    background: #000000;
  }
  .forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button span {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-align: center;
    position: relative;
  }
  .forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button::before {
    content: "";
    width: 4.8rem;
    height: 4.8rem;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    transition: 300ms ease-in;
    top: 0.4rem;
    left: 14rem;
  }
  .forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button::after {
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    transition: 300ms ease-in;
    top: 2.5rem;
    left: 16.1rem;
  }
  .forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button:hover::before {
    content: "";
    width: 36.08rem;
    height: 36.08rem;
    opacity: 1;
    position: absolute;
    top: -15.64rem;
    left: -1rem;
  }
  .forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button:active::after {
    content: "";
    width: 36.08rem;
    height: 36.08rem;
    border-radius: 50%;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: -15.64rem;
    left: -1.1rem;
  }
  .forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button:focus {
    border: 3px solid #5a9b83;
  }
  .forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button:disabled {
    border-color: #868686;
    background: #c3c3c3;
    pointer-events: none;
    cursor: not-allowed;
  }
  .forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button:disabled span {
    color: #9b9b9b;
  }
  .forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button span {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    color: #fafafa;
  }
  .forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button::before {
    background: #5a9b83;
  }
  .forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button::after {
    background: #1a6449;
  }
  .forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button:hover::before {
    background: #5a9b83;
  }
  .forgotPasswordForm .forgotPasswordForm__form .forgotPasswordForm__button:active::after {
    border: 1px solid #5a9b83;
  }
  .forgotPasswordForm p {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    flex-direction: column;
  }
  .forgotPasswordForm p span {
    text-align: center;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
  }
}

/*# sourceMappingURL=RecoveryPasswordForm.module.css.map */
