@import '../../../styles/variables.module';
.forgotPasswordForm {
  width: 41rem;
  margin: 9.5rem auto;
  @include form();

  .forgotPasswordForm__titleBlock {
    @include form-title-block();
  }

  .forgotPasswordForm__successMessagesBlock {
    @include form-message-block($accent-a-05, $success);
  }

  .forgotPasswordForm__errorMessagesBlock {
    @include form-message-block($light-pink, $error);
  }

  .forgotPasswordForm__form {
    width: 100%;
    @include form();

    .forgotPasswordForm__button {
      @include button(41rem);
      @include buttonBlack();
    }
    .forgotPasswordForm__backToSignIn {
      .forgotPasswordForm__backToSignInLink {
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .forgotPasswordForm {
    width: 41rem;
    margin: 12rem auto;
    @include form-mobile();
  }
  .forgotPasswordForm__titleBlock {
    @include form-title-block-mobile();
  }
  .forgotPasswordForm__form {
    @include form-mobile();
    .forgotPasswordForm__button {
      @include button-mobile(41rem);
    }
  }
  .forgotPasswordForm__backToSignIn {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .forgotPasswordForm {
    @include form-mobile();
    width: 32.8rem;
    .forgotPasswordForm__titleBlock {
      @include form-title-block-mobile();
    }
    .forgotPasswordForm__form {
      width: 100%;
      @include form-mobile();
      .forgotPasswordForm__button {
        @include button-mobile(32.8rem);
        @include buttonBlack();
      }
    }
    .forgotPasswordForm__backToSignIn {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
