@import '../../../styles/variables.module';
.forgotPasswordForm {
  width: 41rem;
  margin: 9.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;

  p {
    color: $black;
   @include body-3();

    span {
      color: $black;
     @include link-1();
    }
  }
}
.forgotPasswordForm__titleBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;

  p {
    color: $black;
    @include headline-2();
  }
  span {
    color: $gray-10;
    @include body-2();
  }
}
.forgotPasswordForm__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;

  .forgotPasswordForm__button {
    @include button(41rem);
    @include buttonBlack();
  }
}
.forgotPasswordForm__successMessagesBlock {
  display: flex;
  align-items: center;
  align-self: stretch;
  background: $accent-a-05;
  p {
    text-align: start;
    padding: 1.2rem;
    color: $success;
  }
}
.forgotPasswordForm__errorMessagesBlock {
  display: flex;
  align-items: center;
  align-self: stretch;
  background: $light-pink;
  p {
    text-align: start;
    padding: 1.2rem;
    color: $error;
  }
}



