@import '../../../styles/variables.module';
.forgotPasswordForm {
  width: 41rem;
  margin: 9.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;

  .forgotPasswordForm__titleBlock {
    @include form-title-block();
  }

  .forgotPasswordForm__successMessagesBlock {
    @include form-message-block($accent-a-05, $success);
  }

  .forgotPasswordForm__errorMessagesBlock {
    @include form-message-block($light-pink, $error);
  }

  .forgotPasswordForm__form {
    width: 100%;
    @include form();

    .forgotPasswordForm__button {
      @include button(41rem);
      @include buttonBlack();
    }
  }

  p {
    color: $black;
    @include body-3();

    span {
      color: $black;
     @include link-1();
    }
  }
}

@media (min-width: 581px) and (max-width: 1120px) {
  .forgotPasswordForm {
    width: 41rem;
    margin: 12rem auto;
    padding: 0 $xl-spacing;
  }
  .forgotPasswordForm__titleBlock {
    @include form-title-block-mobile();
  }
  .forgotPasswordForm__form {
    .forgotPasswordForm__button {
      @include button-mobile(41rem);
    }
  }
}
@media (max-width: 580px) {
  .forgotPasswordForm {
    width: 32.8rem;
    .forgotPasswordForm__titleBlock {
      @include form-title-block-mobile();
    }
    .forgotPasswordForm__form {
      width: 100%;
      .forgotPasswordForm__button {
        @include button-mobile(32.8rem);
        @include buttonBlack();
      }
    }
    p {
      color: $black;
      @include body-3();
      display: flex;
      flex-direction: column;
      span {
        text-align: center;
        color: $black;
        @include link-1();
      }
    }
  }
}
