@import '../../../styles/variables.module';
.saleBlock {
  display: grid;
  max-width: 144rem;
  width: 100%;
  max-height: 37.6rem;
  justify-content: center;
  position: relative;
  img {
    width: 100%;
  }
}
.saleBlockBlock__image {
  display: block;
  width: 100%;
  img {
    width: 100%;
  }
}
.saleBlock__contentBlock {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 23rem;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.saleBlock__title2 {
  margin: 0 auto;
  color: $black;
  text-wrap: unset;
  @include headline-2();
}
.saleBlock__button {
  @include button(19.5rem);
  @include buttonWhite();
}
@media (min-width: 581px) and (max-width: 768px) {
  .saleBlock {
    max-height: none;
  }
}
@media (max-width: 580px) {
  .saleBlock {
    justify-content: unset;
  }
  .saleBlock__button {
    width: 18rem;
    height: 4.8rem;
    padding: 1.2rem;
    span {
      @include button-s();
    }
  }
  .saleBlock__title2 {
    @include tablet-headline-2();
    font-weight: 500;
  }
  .saleBlock__contentBlock {
    gap: 2.4rem;
  }
}
