@import "../../styles/variables.module.scss";
.page404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
  margin: 8.1rem auto;

  p {
   @include body-2();
  }
  button {
    @include button(18.2rem);
    @include buttonBlack()
  }
}
