@import "../../../../../styles/variables.module.scss";
.userDataForm {
  width: 73.5rem;
  display: flex;
  flex-direction: column;
}
.userDataForm__title {
  @include fonts($headline-2);
  text-align: start;
  padding-bottom: 2.4rem;
}
.userDataForm__userPersonalDataForm {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.userDataForm__submitWrapper {
  width: 62.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.userDataForm__column{
  width: 51.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}
.userDataForm__deliveryForm {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  column-gap: 2.4rem;
}
.userDataForm__deliveryTitle {
  @include fonts($headline-8);
  text-align: start;
  margin-bottom: 2.4rem;
}
.userDataForm__deliveryBlock {
  display: flex;
  column-gap: 2.4rem;
}
.userDataForm__deliveryBlockColumn {
  display: flex;
  width: 30rem;
  flex-direction: column;
  flex-grow: 1;
  .userDataForm__blockLabel {
    @include fonts($headline-6);
    margin-bottom: 1.8rem;
  };
}
.userDataForm__button {
  @include button(24rem);
  @include buttonBlack();
}

