.userDataForm {
  width: 73.5rem;
  display: flex;
  flex-direction: column;
}

.userDataForm__title {
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: start;
  padding-bottom: 2.4rem;
}

.userDataForm__responseMessage {
  width: 51.5rem;
  margin-bottom: 2.4rem;
  display: flex;
  align-self: stretch;
  background: #a9dfcb;
}
.userDataForm__responseMessage p {
  font-size: 16px;
  line-height: 110%;
  width: 100%;
  text-align: start;
  padding: 1.2rem;
  color: #2ab66a;
}

.userDataForm__userPersonalDataForm {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.userDataForm__submitWrapper {
  width: 62.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.userDataForm__column {
  width: 51.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}

.userDataForm__deliveryForm {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  column-gap: 2.4rem;
}

.userDataForm__deliveryTitle {
  font-size: 18px;
  line-height: 110%;
  text-transform: uppercase;
  text-align: start;
  margin-bottom: 2.4rem;
}

.userDataForm__deliveryBlock {
  display: flex;
  column-gap: 2.4rem;
}

.userDataForm__deliveryBlockColumn {
  display: flex;
  width: 30rem;
  flex-direction: column;
  flex-grow: 1;
}
.userDataForm__deliveryBlockColumn .userDataForm__blockLabel {
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
}

.userDataForm__button {
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  width: 24rem;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  background: #000000;
}
.userDataForm__button span {
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.userDataForm__button::before {
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 0.4rem;
  left: 9.6rem;
}
.userDataForm__button::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 2.5rem;
  left: 11.7rem;
}
.userDataForm__button:hover::before {
  content: "";
  width: 26.4rem;
  height: 26.4rem;
  opacity: 1;
  position: absolute;
  top: -10.8rem;
  left: -1rem;
}
.userDataForm__button:active::after {
  content: "";
  width: 26.4rem;
  height: 26.4rem;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: -10.8rem;
  left: -1.1rem;
}
.userDataForm__button:disabled {
  border-color: #868686;
  background: #c3c3c3;
  pointer-events: none;
  cursor: not-allowed;
}
.userDataForm__button:disabled span {
  color: #9b9b9b;
}
.userDataForm__button span {
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  color: #fafafa;
}
.userDataForm__button::before {
  background: #5a9b83;
}
.userDataForm__button::after {
  background: #1a6449;
}
.userDataForm__button:hover::before {
  background: #5a9b83;
}
.userDataForm__button:active::after {
  border: 1px solid #5a9b83;
}

/*# sourceMappingURL=UserDataForm.module.css.map */
