@import "../../../../styles/variables.module";
.novaPoshtaAddressDeliveryForm {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.button {
  @include button(24rem, $black, $white, $accent-a-3, $accent-a-5);
}
