@import '../../styles/variables.module.scss';

.aside {
  @include fonts($headline-4);
  text-align: start;
  white-space: nowrap;
}

.asideList {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;

  li {
    cursor: pointer;
  }
}

.selected {
  color: $black;
}

.unselected {
  color: $gray-20;
}
