@import '../../../styles/variables.module.scss';
.checkOutShoppingCartBlock {
  width: 51.9rem;
  padding: 1.6rem;
  background: $white;
  height: min-content;
}
.wrapper {
  display: flex;
  width: 41.1rem;
  flex-direction: column;
  gap: 1.7rem;
  box-sizing: border-box;
  margin-inline: auto;
}
.titleBlock {
  display: flex;
  flex-direction: row;
  column-gap: 1.2rem;
  @include fonts($headline-5);
}
.title {
  @include fonts($headline-3);
}
.form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.arrowButton {
  transform: rotate(180deg);
  @include button($extra-small);
  @include buttonTransparent();
}
.priceBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include fonts($headline-3);
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include fonts($body-3);
}
.discount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $error;
  @include fonts($body-3);
}
.newCollectionBlock__button {
  //margin-inline: auto;
  @include button(41.1rem);
  @include buttonBlack();
}
