.checkOutShoppingCartBlock {
  width: 51.9rem;
  padding: 1.6rem;
  background: #fafafa;
  height: min-content;
}

.checkOutShoppingCartBlock__wrapper {
  display: flex;
  width: 41.1rem;
  flex-direction: column;
  gap: 1.7rem;
  box-sizing: border-box;
  margin-inline: auto;
}

.checkOutShoppingCartBlock__titleBlock {
  display: flex;
  flex-direction: row;
  column-gap: 1.2rem;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
}

.checkOutShoppingCartBlock__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
}

.checkOutShoppingCartBlock__form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.checkOutShoppingCartBlock__arrowButton {
  transform: rotate(180deg);
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  width: 6.4rem;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  background: transparent;
  border: none;
}
.checkOutShoppingCartBlock__arrowButton span {
  font-weight: 600;
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.checkOutShoppingCartBlock__arrowButton::before {
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 0.4rem;
  left: 0.8rem;
}
.checkOutShoppingCartBlock__arrowButton::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 2.5rem;
  left: 2.9rem;
}
.checkOutShoppingCartBlock__arrowButton:hover::before {
  content: "";
  width: 7.04rem;
  height: 7.04rem;
  opacity: 1;
  position: absolute;
  top: -1.12rem;
  left: -1rem;
}
.checkOutShoppingCartBlock__arrowButton:active::after {
  content: "";
  width: 7.04rem;
  height: 7.04rem;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: -1.12rem;
  left: -1.1rem;
}
.checkOutShoppingCartBlock__arrowButton:focus {
  border: 3px solid #5a9b83;
}
.checkOutShoppingCartBlock__arrowButton:disabled {
  border-color: #868686;
  background: #c3c3c3;
  pointer-events: none;
  cursor: not-allowed;
}
.checkOutShoppingCartBlock__arrowButton:disabled span {
  color: #9b9b9b;
}
.checkOutShoppingCartBlock__arrowButton svg path {
  fill: #000000;
}
.checkOutShoppingCartBlock__arrowButton span {
  font-weight: 600;
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}
.checkOutShoppingCartBlock__arrowButton:hover svg path {
  fill: #3a7f66;
}
.checkOutShoppingCartBlock__arrowButton:hover span {
  font-weight: 600;
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  color: #3a7f66;
}
.checkOutShoppingCartBlock__arrowButton:focus svg path {
  fill: #081e16;
}
.checkOutShoppingCartBlock__arrowButton:focus span {
  font-weight: 600;
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  color: #081e16;
}
.checkOutShoppingCartBlock__arrowButton:disabled {
  background: transparent;
}
.checkOutShoppingCartBlock__arrowButton:disabled svg path {
  fill: #868686;
}
.checkOutShoppingCartBlock__arrowButton:disabled span {
  font-weight: 600;
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  color: #868686;
}

.checkOutShoppingCartBlock__priceBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
}

.checkOutShoppingCartBlock__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.checkOutShoppingCartBlock__discount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ea001b;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.checkOutShoppingCartBlock__button {
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  width: 41.1rem;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  background: #000000;
}
.checkOutShoppingCartBlock__button span {
  font-weight: 600;
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.checkOutShoppingCartBlock__button::before {
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 0.4rem;
  left: 18.15rem;
}
.checkOutShoppingCartBlock__button::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 2.5rem;
  left: 20.25rem;
}
.checkOutShoppingCartBlock__button:hover::before {
  content: "";
  width: 45.21rem;
  height: 45.21rem;
  opacity: 1;
  position: absolute;
  top: -20.205rem;
  left: -1rem;
}
.checkOutShoppingCartBlock__button:active::after {
  content: "";
  width: 45.21rem;
  height: 45.21rem;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: -20.205rem;
  left: -1.1rem;
}
.checkOutShoppingCartBlock__button:focus {
  border: 3px solid #5a9b83;
}
.checkOutShoppingCartBlock__button:disabled {
  border-color: #868686;
  background: #c3c3c3;
  pointer-events: none;
  cursor: not-allowed;
}
.checkOutShoppingCartBlock__button:disabled span {
  color: #9b9b9b;
}
.checkOutShoppingCartBlock__button span {
  font-weight: 600;
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  color: #fafafa;
}
.checkOutShoppingCartBlock__button::before {
  background: #5a9b83;
}
.checkOutShoppingCartBlock__button::after {
  background: #1a6449;
}
.checkOutShoppingCartBlock__button:hover::before {
  background: #5a9b83;
}
.checkOutShoppingCartBlock__button:active::after {
  border: 1px solid #5a9b83;
}

/*# sourceMappingURL=CheckOutShoppingCartBlock.module.css.map */
