@import "../../styles/variables.module.scss";

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $black-color;
  color: $white-color;
  padding: 70px 40px 40px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-top__left {
  display: flex;
  gap: 17px;
  text-align: start;
}

.footer-top__left h3 {
  font-size: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.footer-help {
  width: 214px;
}

.footer-contacts,
.footer-shop__list {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: start;
}

.footer-top__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-list {
  display: flex;
  gap: 8px;
}

.social-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border: 1px solid $white-color;
  border-radius: 50%;
  transition: border-color 0.3s ease;
}

.social-list__item img {
  transition: filter 0.3s ease;
}

.social-list__item:hover {
  border-color: $active-color;
}

.social-list__item:hover img {
  filter: invert(0.5) sepia(10) saturate(100) hue-rotate(395deg);
}

.social-list__item:hover img {
  border-color: $active-color;
  fill: $active-color;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.footer-bottom__left {
  opacity: 0.47;
}

.footer-bottom__right {
  display: flex;
  align-items: center;
}
