@import '../../styles/variables.module.scss';

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $black-color;
  color: $white-color;
  padding: 70px 40px 40px;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footerTopLeft {
  display: flex;
  gap: 17px;
  text-align: start;

  & h3 {
    font-size: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
}

.footerHelp {
  width: 214px;
}

.footerContacts,
.footerShopList {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
}

.footerTopRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socialList {
  display: flex;
  gap: 8px;
}

.socialListItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border: 1px solid $white-color;
  border-radius: 50%;
  transition: border-color 0.3s ease;

  & img {
    transition: filter 0.3s ease;
  }

  &:hover {
    border-color: $active-color;

    & img {
      filter: invert(0.5) sepia(10) saturate(100) hue-rotate(395deg);
      border-color: $active-color;
      fill: $active-color;
    }
  }
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.footerBottomLeft {
  opacity: 0.47;
}

.footerBottomRight {
  display: flex;
  align-items: center;
}
