@import '../../styles/variables.module.scss';

.container {
  background-color: $white;
  border-bottom: 0.1rem solid $gray-80;
  display: flex;
  position: fixed;
  min-width: 105rem;
  width: 100%;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
}

@media (min-width: 581px) and (max-width: 768px) {
  .container {
    min-width: 58.1rem;
    width: 100vw;
  }
}
