@import '../../styles/variables.module.scss';

.container {
  background-color: $white;
  border-bottom: 0.1rem solid $gray-80;
  display: flex;
  position: fixed;
  width: 100%;
  min-width: 105rem;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
}
