.checkout {
  width: 100%;
  padding: 4rem 8rem 8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.checkout .closeIcon {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  cursor: pointer;
  background-color: inherit;
}
.checkout h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
}

.checkoutContainer {
  display: flex;
  gap: 2.4rem;
}
.checkoutContainer img {
  max-width: 10rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
}
.checkoutContainer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  text-transform: uppercase;
}

.name {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
}

.checkoutContent {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-width: 46.5rem;
  width: 100%;
  justify-content: flex-start;
}

.dataBlock {
  display: flex;
  gap: 5.6rem;
  justify-content: flex-start;
  align-items: center;
}

.priceBlock {
  display: flex;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.coloredSquare {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0 0.4rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 0.1rem solid #000000;
}

.paramsBlock {
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  text-transform: uppercase;
  display: flex;
  gap: 1.6rem;
}

.quantityBlock {
  display: flex;
  gap: 1.2rem;
}

.quantityBtn {
  background-color: inherit;
}

.trash {
  display: flex;
  align-items: center;
  width: 2.4rem;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
}
.btnContainer span {
  text-wrap: nowrap;
}

.continueBtn {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: inherit;
  text-transform: uppercase;
}

.checkoutBtn {
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
  width: 30rem;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  background: #000000;
  text-decoration: none !important;
}
.checkoutBtn span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.checkoutBtn::before {
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 0.4rem;
  left: 12.6rem;
}
.checkoutBtn::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 300ms ease-in;
  top: 2.5rem;
  left: 14.7rem;
}
.checkoutBtn:hover::before {
  content: "";
  width: 33rem;
  height: 33rem;
  opacity: 1;
  position: absolute;
  top: -14.1rem;
  left: -1rem;
}
.checkoutBtn:active::after {
  content: "";
  width: 33rem;
  height: 33rem;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: -14.1rem;
  left: -1.1rem;
}
.checkoutBtn:focus {
  border: 3px solid #5a9b83;
}
.checkoutBtn:disabled {
  border-color: #868686;
  background: #c3c3c3;
  pointer-events: none;
  cursor: not-allowed;
}
.checkoutBtn:disabled span {
  color: #9b9b9b;
}
.checkoutBtn span {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #fafafa;
}
.checkoutBtn::before {
  background: #5a9b83;
}
.checkoutBtn::after {
  background: #1a6449;
}
.checkoutBtn:hover::before {
  background: #5a9b83;
}
.checkoutBtn:active::after {
  border: 1px solid #5a9b83;
}

@media (min-width: 581px) and (max-width: 950px) {
  .modalContent {
    max-width: 70.3rem;
  }
  .checkout {
    padding: 4rem 4.9rem 8rem;
  }
  .checkout .closeIcon {
    top: 0.8rem;
    right: 1.6rem;
  }
  .priceBlock {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
  }
  .paramsBlock {
    gap: 0.8rem;
  }
  .continueBtn {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
  }
  .checkoutBtn {
    width: 23.6rem;
    height: 4.8rem;
  }
}
@media (max-width: 580px) {
  .checkout {
    padding: 2.4rem 1.6rem;
  }
  .checkout h2 {
    max-width: 24rem;
    text-align: start;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    text-transform: uppercase;
  }
  .checkoutContainer {
    gap: 1.6rem;
  }
  .checkoutContainer img {
    max-width: 15.6rem;
    width: 100%;
    object-position: center;
  }
  .checkoutContent {
    gap: 0.8rem;
  }
  .dataBlock {
    margin-top: 0.8rem;
  }
  .closeIcon {
    right: 1.6rem;
  }
  .closeIcon svg {
    width: 2.4rem;
    height: 2.4rem;
  }
  .dataBlock {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
  }
  .btnContainer {
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
  }
  .btnContainer span {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
  }
}

/*# sourceMappingURL=CheckoutModal.module.css.map */
