@import '../../../../styles/variables.module';
.checkOutNavigationBlock {
  width: 21rem;
  height: 25.1rem;
  //border: 1px solid $black;
  @include fonts($headline-9);
  text-align: start;
}
.progressTracker {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      position: relative;
      padding-left: 25px; // Місце для точки перед текстом
      margin-bottom: 37px; // Відстань між кроками

      &:not(:last-child)::after {
        content: '';
        position: absolute;
        left: 12.5px; // Центрування лінії відносно точок
        top: 75%;
        width: 1px;
        height: 50px; // Висота лінії до наступного елементу
        background-color: $black // Використовуємо змінну з вашого файлу змінних
      }

      &::before {
        content: '';
        position: absolute;
        left: 0.9rem;
        top: 1rem;
        transform: translateY(-50%);
        width: 0.8rem;
        height: 0.8rem;
        background-color: $black; // Аналогічно, використовуємо змінну
        border-radius: 50%;
        line-height: 24px;
        text-align: center;
        color: $black; // Колір тексту з файлу змінних
      }

      &.active::before {
        background-color: $success; // Колір для активного кроку
      }
    }
  }
}
