@import "../../../../styles/variables.module";
.modalCookies {
  width: 51.9rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  background: $gray-80;
  padding: 2.4rem;
  position: absolute;
  right: 7rem;
  bottom: 9.2rem;
}
.modalCookies__container {
  display: flex;
  column-gap: 1.6rem;
}
.modalCookies__content {
  @include fonts($body-3);
  text-align: start;
}
.modalCookies__closeButton{
  background: $gray-80;
}
.modalCookies__button {
  @include button(19rem);
  @include buttonBlack();
}
