@import '../../styles/variables.module';
.creatorsPage {
  width: 128rem;
  margin: 1.6rem auto 17rem;
}
.creatorsPage__navigationBlock {
 @include breadcrumb();
}
.creatorsPage__title {
  margin-top: 2.4rem;
  margin-bottom: 2rem;
  @include headline-2();
}
.creatorsPage__text {
 @include body-2();
  margin-bottom: 1.6rem;
}
.creatorsPage__title2 {
  margin-top: 4rem;
  margin-bottom: 3.2rem;
  @include headline_3();
}
.creatorsPage__membersBlock {
  display: grid;
  grid-template-columns: repeat(4, 30.3rem);
  column-gap: 2.4rem;
}
.creatorsPage__column:nth-child(5) {
  margin-top: -6rem;
  grid-column: 4;
  grid-row: 2;
}
.creatorsPage__column {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  .creatorsPage__department {
    @include headline-5();
  }
  .creatorsPage__member {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    .creatorsPage__name {
     @include headline-7();
    }
    .creatorsPage__mail {
     @include body-3();
    }
    .creatorsPage__social {
      display: flex;
      flex-direction: row;
      column-gap: 0.8rem;
      .creatorsPage__iconsBlock {
        display: flex;
        flex-direction: row;
        column-gap: 0.8rem;
      }
    }
  }
}
