.creatorsPage {
  margin: 1.6rem 8rem 17rem;
}
.creatorsPage .creatorsPage__navigationBlock {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-transform: none;
}
.creatorsPage .creatorsPage__title {
  margin-top: 2.4rem;
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
}
.creatorsPage .creatorsPage__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 1.6rem;
}
.creatorsPage .creatorsPage__title2 {
  margin-top: 4rem;
  margin-bottom: 3.2rem;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
}

.creatorsPage__membersBlock {
  display: grid;
  grid-template-columns: repeat(4, 30.3rem);
  column-gap: 2.4rem;
  row-gap: 3.2rem;
}
.creatorsPage__membersBlock .creatorsPage__column {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.creatorsPage__membersBlock .creatorsPage__column .creatorsPage__department {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
}
.creatorsPage__membersBlock .creatorsPage__column .creatorsPage__member {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}
.creatorsPage__membersBlock .creatorsPage__column .creatorsPage__member .creatorsPage__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
}
.creatorsPage__membersBlock .creatorsPage__column .creatorsPage__member .creatorsPage__mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.creatorsPage__membersBlock .creatorsPage__column .creatorsPage__member .creatorsPage__social {
  display: flex;
  flex-direction: row;
  column-gap: 0.8rem;
}
.creatorsPage__membersBlock .creatorsPage__column .creatorsPage__member .creatorsPage__social .creatorsPage__iconsBlock {
  display: flex;
  flex-direction: row;
  column-gap: 0.8rem;
}
.creatorsPage__membersBlock .creatorsPage__column:nth-child(5) {
  margin-top: -6rem;
  grid-column: 4;
  grid-row: 2;
}

@media (min-width: 950px) and (max-width: 1280px) {
  .creatorsPage__membersBlock {
    grid-template-columns: repeat(2, 30.3rem);
  }
  .creatorsPage__membersBlock .creatorsPage__column {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .creatorsPage__membersBlock .creatorsPage__column .creatorsPage__department {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
  }
  .creatorsPage__membersBlock .creatorsPage__column .creatorsPage__member {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
  }
  .creatorsPage__membersBlock .creatorsPage__column .creatorsPage__member .creatorsPage__name {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
  }
  .creatorsPage__membersBlock .creatorsPage__column .creatorsPage__member .creatorsPage__mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
  .creatorsPage__membersBlock .creatorsPage__column .creatorsPage__member .creatorsPage__social {
    display: flex;
    flex-direction: row;
    column-gap: 0.8rem;
  }
  .creatorsPage__membersBlock .creatorsPage__column .creatorsPage__member .creatorsPage__social .creatorsPage__iconsBlock {
    display: flex;
    flex-direction: row;
    column-gap: 0.8rem;
  }
  .creatorsPage__membersBlock .creatorsPage__column:nth-child(5) {
    margin-top: -13rem;
    grid-column: 2;
    grid-row: 3;
  }
}
@media (min-width: 768px) and (max-width: 949px) {
  .creatorsPage {
    margin-inline: 3.2rem;
  }
  .creatorsPage__membersBlock {
    grid-template-columns: repeat(2, 30.3rem);
  }
  .creatorsPage__membersBlock .creatorsPage__column {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .creatorsPage__membersBlock .creatorsPage__column .creatorsPage__department {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
  }
  .creatorsPage__membersBlock .creatorsPage__column .creatorsPage__member {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
  }
  .creatorsPage__membersBlock .creatorsPage__column .creatorsPage__member .creatorsPage__name {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
  }
  .creatorsPage__membersBlock .creatorsPage__column .creatorsPage__member .creatorsPage__mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
  .creatorsPage__membersBlock .creatorsPage__column .creatorsPage__member .creatorsPage__social {
    display: flex;
    flex-direction: row;
    column-gap: 0.8rem;
  }
  .creatorsPage__membersBlock .creatorsPage__column .creatorsPage__member .creatorsPage__social .creatorsPage__iconsBlock {
    display: flex;
    flex-direction: row;
    column-gap: 0.8rem;
  }
  .creatorsPage__membersBlock .creatorsPage__column:nth-child(5) {
    margin-top: -13rem;
    grid-column: 2;
    grid-row: 3;
  }
}
@media (max-width: 767px) {
  .creatorsPage {
    margin-inline: 3.2rem;
  }
  .creatorsPage__membersBlock {
    grid-template-columns: repeat(1, 30.3rem);
  }
  .creatorsPage__membersBlock .creatorsPage__column {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .creatorsPage__membersBlock .creatorsPage__column .creatorsPage__department {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
  }
  .creatorsPage__membersBlock .creatorsPage__column .creatorsPage__member {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
  }
  .creatorsPage__membersBlock .creatorsPage__column .creatorsPage__member .creatorsPage__name {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
  }
  .creatorsPage__membersBlock .creatorsPage__column .creatorsPage__member .creatorsPage__mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
  .creatorsPage__membersBlock .creatorsPage__column .creatorsPage__member .creatorsPage__social {
    display: flex;
    flex-direction: row;
    column-gap: 0.8rem;
  }
  .creatorsPage__membersBlock .creatorsPage__column .creatorsPage__member .creatorsPage__social .creatorsPage__iconsBlock {
    display: flex;
    flex-direction: row;
    column-gap: 0.8rem;
  }
  .creatorsPage__membersBlock .creatorsPage__column:nth-child(5) {
    margin-top: 0;
    grid-column: 1;
    grid-row: 5;
  }
}

/*# sourceMappingURL=CreatorsPage.module.css.map */
