@import '../../../styles/variables.module';
.favoriteIcon {
  width: 2.4rem;
  height: 2.4rem;

  &:hover {
    svg {
      path {
        stroke: $accent-a-7;
      }
    }
  }
  &:active {
    svg {
      path {
        stroke: $accent-a-4;
      }
    }
  }
}

