@import "../../styles/variables.module.scss";
.page404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
  margin: 8.1rem auto;

  p {
    @include fonts($body-2);
  }
  button {
    @include button(18.2rem, $black, $white, $accent-a-3, $accent-a-5);
  }
}
