@import '../../styles/variables.module';
.modalCookies {
  width: 61.4rem;
  height: 46.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  background: $gray-90;
  padding: 3.2rem;
  position: fixed;
  left: 8rem;
  top: 19rem;
  z-index: 100;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.7);
  .modalCookies__text {
    width: fit-content;
   @include body-2();
  }
}
.modalCookies__title2 {
  @include headline_3();
}
.modalCookies__button {
  @include button($small);
  @include buttonBlack();
}
.modalCookies__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1.6rem;
}
