@import '../../styles/variables.module.scss';

.proposeBlock {
  display: flex;
  gap: 4rem;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  flex: 50% 1 1;
  align-items: center;
  justify-content: center;

  a {
    padding: 2.1rem 3.6rem;
    color: $white;
    background-color: $black;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s ease 0s;

    &:hover,
    &:active {
      background-color: $accent-a-3;
      color: $white;
      text-decoration: none;
    }
  }
}

.title {
  max-width: 28rem;
  width: 100%;
  padding-bottom: 0.8rem;
  @include fonts($headline-4);
  border-bottom: 0.1rem solid $black;

  span {
    @include fonts($headline-3);
  }
}

.innerText {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 1.6rem;
  width: 100%;
  padding-bottom: 1.6rem;
}

.text {
  width: 100%;
  @include fonts($body-3);
}

.img {
  display: block;
  aspect-ratio: 4/3;
  max-width: 23.5%;
  width: 100%;

  img {
    display: block;
    width: 100%;
  }
}

.lastChild {
  order: 2;
}
.button {
  @include buttons(16.2rem, $black, $white, $accent-a-3, $accent-a-5);
}
