@import "../../styles/variables.module.scss";
.resetPasswordForm {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  margin: 19.05rem auto;
}
.titleBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.6rem;
  .title{
  @include fonts($headline-2)
}
  p {
    @include fonts($menu-2);
  }
}
.form {
  width: $form-width;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}
.button {
  @include button($form-width, $black, $white, $accent-a-3, $accent-a-5);
}
