@import "../../../../styles/variables.module";
.ordersBlock {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.newsLetterBlock__title2 {
  @include fonts($headline-2);
  text-align: start;
}
