@import "../../styles/variables.module";
.userPage {
 padding-inline: 8rem;
 margin-top: 2.4rem;
 margin-bottom: 40rem;
}







@media (min-width: 581px) and (max-width: 950px) {
  .userPage {
    padding-inline: 3.2rem;
  }
}
@media (max-width: 580px) {
  .userPage {
    max-width: 32.8rem;
  }
}
