@import "../../styles/variables.module";
.userPage {
 min-height: 100vh;
 max-width: 128rem;
 padding-inline: 3.2rem;
 position: relative;
 left: 50%;
 transform: translateX(-50%);

 .userPage__navigation {
  display: flex;
  flex-direction: row;
  margin-top: 3.2rem;
  margin-bottom: 4rem;
  text-align: start;
  @include breadcrumb();

  .userPage__navigationHome {
   display: flex;
   flex-direction: row;
   align-items: center;
   svg {
    display: none;
    transform: rotate(-90deg);
   }
  }
  .userPage__navigationAccount {
   display: flex;
  }
 }
}
@media (min-width: 581px) and (max-width: 768px) {
  .userPage {
    max-width: 76.8rem;
  }
}
@media (max-width: 580px) {
 .userPage {
  max-width: 32.8rem;
   .userPage__navigation {
     .userPage__navigationHome {
       @include headline-9();
       svg {
         display: block;
         transform: rotate(-90deg);
       };
     }
     .userPage__navigationAccount {
       display: none;
     }
   }
 }
}
