@import "../../styles/variables.module";
.loginLayout {
  display: flex;
  width: 41rem;
  margin: $xl-spacing auto 17rem;
}
@media (min-width: 769px) and (max-width: 1120px){
  .loginLayout {
    width: 41rem;
    margin: $xl-spacing auto 5.6rem;
  }
}
@media (max-width: 768px) {
  .loginLayout {
    width: 32.5rem;
    margin: $xl-spacing auto 2rem;
  }
}
