@import "../../../../styles/variables.module";
.modalVerifyEmail {
  width: 62.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.6rem;
  padding: 8rem;
  background: $white;
}
.link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.closeButton {
  position: relative;
  top: -7rem;
  left: 29rem;
  background: $white;
}
.content {
  width: 40rem;
  @include fonts($body-3);
  text-align: center;
  margin-top: -3.5rem;
}
.newCollectionBlock__button {
  @include button(41rem);
  @include buttonBlack();
}
